{% load i18n templatetag_handlebars %}

{% tplhandlebars "invoicing/partials/_tableOfQuotations" %}
  <table class="table table-quotations table-striped table-primary">
    <thead>
      <tr>
        <th class="reference">
          {% trans "Reference" context "table-headers" %}
        </th>
        <th class="customer">
          {% trans "Customer" context "table-headers" %}
        </th>
        <th class="total">
          {% trans "Total (incl. tax.)" context "table-headers" %}
        </th>
        <th class="expiration">
          {% trans "Expiration" context "table-headers" %}
        </th>
        <th class="status">
          {% trans "Status" context "table-headers" %}
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each quotation in this}}
        <tr>
          <td class="reference">
            {{#linkTo "quotation.show" controller.session.tenant quotation}}
              {{quotation.ref}}
            {{/linkTo}}
          </td>
          <td class="customer">
            {{#if quotation.organization}}
              {{#linkTo "organization.show" controller.session.tenant quotation.organization}}
                {{quotation.organization.corporateName}}
              {{/linkTo}}
            {{else}}
              {{#if quotation.contanct}}
                {{#linkTo "contact.show" controller.session.tenant quotation.contact}}
                  {{quotation.contact.fullName}}
                {{/linkTo}}
              {{/if}}
            {{/if}}
          </td>
          <td class="total">
            {{#formatMoneyHack quotation.total quotation.currentRevision.currency.displaySign}}{{/formatMoneyHack}}
          </td>
          <td class="expiration">
            {{formatDate quotation.currentRevision.quotationValidity}}
          </td>
          <td class="status">
            {{quotation.displayState}}
          </td>
        </tr>
      {{else}}
        <tr>
          <td class="no-data text-center" colspan="5">{% trans "No quotations" %}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{% endtplhandlebars %}