{# Core #}
{% include "webapp/handlebars/core/root.html" %}
{% include "webapp/handlebars/core/application.html" %}
{% include "webapp/handlebars/core/dashboard.html" %}
{% include "webapp/handlebars/core/partials/panels.html" %}
{% include "webapp/handlebars/core/partials/search.html" %}
{% include "webapp/handlebars/core/partials/notifications.html" %}
{% include "webapp/handlebars/core/partials/forms.html" %}
{% include "webapp/handlebars/core/partials/errors.html" %}
{% include "webapp/handlebars/core/partials/spinner.html" %}


{# Tenants #}
{% include "webapp/handlebars/tenants/root.html" %}
{% include "webapp/handlebars/tenants/tenantsShow.html" %}
{% include "webapp/handlebars/tenants/tenantsAdd.html" %}
{% include "webapp/handlebars/tenants/partials/tenantsAddIdentity.html" %}
{% include "webapp/handlebars/tenants/partials/tenantsAddCoords.html" %}
{% include "webapp/handlebars/tenants/partials/tenantsAddRegistration.html" %}
{% include "webapp/handlebars/tenants/partials/registrationInfo.html" %}


{# Settings #}
{% include "webapp/handlebars/settings/root.html" %}
{% include "webapp/handlebars/settings/settingsApplication.html" %}
{% include "webapp/handlebars/settings/settingsApiKeys.html" %}
{% include "webapp/handlebars/settings/settingsOrganization.html" %}
{% include "webapp/handlebars/settings/settingsShowUsers.html" %}
{% include "webapp/handlebars/settings/settingsShowGroups.html" %}
{% include "webapp/handlebars/settings/settingsShowTaxes.html" %}
{% include "webapp/handlebars/settings/settingsEditUser.html" %}
{% include "webapp/handlebars/settings/settingsEditGroup.html" %}
{% include "webapp/handlebars/settings/settingsEditTax.html" %}
{% include "webapp/handlebars/settings/settingsInvoicingGeneral.html" %}
{% include "webapp/handlebars/settings/settingsNumbering.html" %}
{% include "webapp/handlebars/settings/settingsReport.html" %}
{% include "webapp/handlebars/settings/partials/saveSettings.html" %}
{% include "webapp/handlebars/settings/partials/registrationInfo.html" %}


{# Contacts #}
{% include "webapp/handlebars/contacts/root.html" %}
{% include "webapp/handlebars/contacts/contactsShow.html" %}
{% include "webapp/handlebars/contacts/organizationsShow.html" %}
{% include "webapp/handlebars/contacts/contactShow.html" %}
{% include "webapp/handlebars/contacts/organizationShow.html" %}
{% include "webapp/handlebars/contacts/contactEdit.html" %}
{% include "webapp/handlebars/contacts/organizationEdit.html" %}
{% include "webapp/handlebars/contacts/partials/listOfOrganizations.html" %}
{% include "webapp/handlebars/contacts/partials/listOfContacts.html" %}
{% include "webapp/handlebars/contacts/partials/showEntityContactInfos.html" %}
{% include "webapp/handlebars/contacts/partials/editEntityContactInfos.html" %}


{# Organizer #}
{% include "webapp/handlebars/organizer/root.html" %}
{% include "webapp/handlebars/organizer/calendarListsShow.html" %}
{% include "webapp/handlebars/organizer/calendarListShow.html" %}
{% include "webapp/handlebars/organizer/calendarListEdit.html" %}
{% include "webapp/handlebars/organizer/vosaeEventShow.html" %}
{% include "webapp/handlebars/organizer/vosaeEventEdit.html" %}


{# Invoicing #}
{% include "webapp/handlebars/invoicing/root.html" %}
{% include "webapp/handlebars/invoicing/dashboard.html" %}
{% include "webapp/handlebars/invoicing/creditNote/creditNoteShow.html" %}
{% include "webapp/handlebars/invoicing/invoice/invoiceShow.html" %}
{% include "webapp/handlebars/invoicing/invoice/invoiceEdit.html" %}
{% include "webapp/handlebars/invoicing/invoice/invoicesShow.html" %}
{% include "webapp/handlebars/invoicing/invoice/partials/tableOfInvoices.html" %}
{% include "webapp/handlebars/invoicing/quotation/quotationsShow.html" %}
{% include "webapp/handlebars/invoicing/quotation/quotationShow.html" %}
{% include "webapp/handlebars/invoicing/quotation/quotationEdit.html" %}
{% include "webapp/handlebars/invoicing/quotation/partials/tableOfQuotations.html" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/show/actions.html" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/show/attachments.html" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/show/creditNotes.html" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/show/currency.html" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/show/date.html" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/show/downPayments.html" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/show/legalNotice.html" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/show/lineItems.html" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/show/payments.html" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/show/receiver.html" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/show/summary.html" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/show/title.html" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/show/transmitter.html" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/show/validity.html" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/edit/actions.html" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/edit/actionsBottom.html" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/edit/attachments.html" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/edit/currency.html" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/edit/date.html" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/edit/dueDate.html" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/edit/legalNotice.html" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/edit/lineItems.html" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/edit/transmitter.html" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/edit/validity.html" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/edit/receiver.html" %}
{% include "webapp/handlebars/invoicing/item/itemsShow.html" %}
{% include "webapp/handlebars/invoicing/item/itemShow.html" %}
{% include "webapp/handlebars/invoicing/item/itemEdit.html" %}
{% include "webapp/handlebars/invoicing/item/partials/tableOfItems.html" %}
{% include "webapp/handlebars/invoicing/purchaseOrder/purchaseOrderEdit.html" %}
{% include "webapp/handlebars/invoicing/purchaseOrder/purchaseOrderShow.html" %}
{% include "webapp/handlebars/invoicing/purchaseOrder/purchaseOrdersShow.html" %}
{% include "webapp/handlebars/invoicing/purchaseOrder/partials/tableOfPurchaseOrders.html" %}


{# Bootstrap #}
{% include "webapp/handlebars/bootstrap/alert.html" %}
{% include "webapp/handlebars/bootstrap/button.html" %}
{% include "webapp/handlebars/bootstrap/forms/field.html" %}
