{# App Core #}
{% include "webapp/handlebars/core/root.html" %}
{% include "webapp/handlebars/core/application.html" %}
{% include "webapp/handlebars/core/dashboard.html" %}
{% include "webapp/handlebars/core/tenantsShow.html" %}
{% include "webapp/handlebars/core/tenantsAdd.html" %}
{% include "webapp/handlebars/core/partials/tenantsAddIdentity.html" %}
{% include "webapp/handlebars/core/partials/tenantsAddCoords.html" %}
{% include "webapp/handlebars/core/partials/tenantsAddRegistration.html" %}
{% include "webapp/handlebars/core/partials/registrationInfo.html" %}
{% include "webapp/handlebars/core/partials/panels.html" %}
{% include "webapp/handlebars/core/partials/search.html" %}
{% include "webapp/handlebars/core/partials/notifications.html" %}
{% include "webapp/handlebars/core/partials/forms.html" %}
{% include "webapp/handlebars/core/partials/errors.html" %}
{% include "webapp/handlebars/core/partials/spinner.html" %}

{# App Settings #}
{% include "webapp/handlebars/settings/root.html" %}
{% include "webapp/handlebars/settings/settingsApplication.html" %}
{% include "webapp/handlebars/settings/settingsApiKeys.html" %}
{% include "webapp/handlebars/settings/settingsOrganization.html" %}
{% include "webapp/handlebars/settings/settingsShowUsers.html" %}
{% include "webapp/handlebars/settings/settingsShowGroups.html" %}
{% include "webapp/handlebars/settings/settingsShowTaxes.html" %}
{% include "webapp/handlebars/settings/settingsEditUser.html" %}
{% include "webapp/handlebars/settings/settingsEditGroup.html" %}
{% include "webapp/handlebars/settings/settingsEditTax.html" %}
{% include "webapp/handlebars/settings/settingsInvoicingGeneral.html" %}
{% include "webapp/handlebars/settings/settingsNumbering.html" %}
{% include "webapp/handlebars/settings/settingsReport.html" %}
{% include "webapp/handlebars/settings/partials/saveSettings.html" %}
{% include "webapp/handlebars/settings/partials/registrationInfo.html" %}

{# App Contacts #}
{% include "webapp/handlebars/contacts/root.html" %}
{% include "webapp/handlebars/contacts/contactsShow.html" %}
{% include "webapp/handlebars/contacts/organizationsShow.html" %}
{% include "webapp/handlebars/contacts/contactShow.html" %}
{% include "webapp/handlebars/contacts/organizationShow.html" %}
{% include "webapp/handlebars/contacts/contactEdit.html" %}
{% include "webapp/handlebars/contacts/organizationEdit.html" %}
{% include "webapp/handlebars/contacts/partials/listOfOrganizations.html" %}
{% include "webapp/handlebars/contacts/partials/listOfContacts.html" %}
{% include "webapp/handlebars/contacts/partials/showEntityContactInfos.html" %}
{% include "webapp/handlebars/contacts/partials/editEntityContactInfos.html" %}

{# App Organizer #}
{% include "webapp/handlebars/organizer/root.html" %}
{% include "webapp/handlebars/organizer/calendarListsShow.html" %}
{% include "webapp/handlebars/organizer/calendarListShow.html" %}
{% include "webapp/handlebars/organizer/calendarListEdit.html" %}
{% include "webapp/handlebars/organizer/vosaeEventShow.html" %}
{% include "webapp/handlebars/organizer/vosaeEventEdit.html" %}

{# App Invoicing #}
{% include "webapp/handlebars/invoicing/root.html" %}
{% include "webapp/handlebars/invoicing/dashboard.html" %}
{% include "webapp/handlebars/invoicing/invoicesShow.html" %}
{% include "webapp/handlebars/invoicing/quotationsShow.html" %}
{% include "webapp/handlebars/invoicing/quotationShow.html" %}
{% include "webapp/handlebars/invoicing/quotationEdit.html" %}
{% include "webapp/handlebars/invoicing/invoiceShow.html" %}
{% include "webapp/handlebars/invoicing/invoiceEdit.html" %}
{% include "webapp/handlebars/invoicing/itemsShow.html" %}
{% include "webapp/handlebars/invoicing/itemShow.html" %}
{% include "webapp/handlebars/invoicing/itemEdit.html" %}
{% include "webapp/handlebars/invoicing/creditNoteShow.html" %}
{% include "webapp/handlebars/invoicing/partials/invoiceBaseShow.html" %}
{% include "webapp/handlebars/invoicing/partials/invoiceBaseEdit.html" %}
{% include "webapp/handlebars/invoicing/partials/tableOfQuotations.html" %}
{% include "webapp/handlebars/invoicing/partials/tableOfInvoices.html" %}
{% include "webapp/handlebars/invoicing/partials/tableOfItems.html" %}
