{# Core #}
{% include "webapp/handlebars/core/application.hbs" %}
{% include "webapp/handlebars/core/dashboard.hbs" %}
{% include "webapp/handlebars/core/partials/panels.hbs" %}
{% include "webapp/handlebars/core/partials/search.hbs" %}
{% include "webapp/handlebars/core/partials/notifications.hbs" %}
{% include "webapp/handlebars/core/partials/errors.hbs" %}
{% include "webapp/handlebars/core/partials/loading.hbs" %}
{% include "webapp/handlebars/core/partials/formActions.hbs" %}


{# Tenants #}
{% include "webapp/handlebars/tenants/tenant.hbs" %}
{% include "webapp/handlebars/tenants/tenants.hbs" %}
{% include "webapp/handlebars/tenants/tenantsShow.hbs" %}
{% include "webapp/handlebars/tenants/tenantsAdd.hbs" %}
{% include "webapp/handlebars/tenants/partials/tenantsAddIdentity.hbs" %}
{% include "webapp/handlebars/tenants/partials/tenantsAddCoords.hbs" %}
{% include "webapp/handlebars/tenants/partials/tenantsAddRegistration.hbs" %}
{% include "webapp/handlebars/tenants/partials/registrationInfo.hbs" %}


{# Settings #}
{% include "webapp/handlebars/settings/settings.hbs" %}
{% include "webapp/handlebars/settings/settingsApplication.hbs" %}
{% include "webapp/handlebars/settings/settingsApiKeys.hbs" %}
{% include "webapp/handlebars/settings/settingsOrganization.hbs" %}
{% include "webapp/handlebars/settings/settingsShowUsers.hbs" %}
{% include "webapp/handlebars/settings/settingsShowGroups.hbs" %}
{% include "webapp/handlebars/settings/settingsShowTaxes.hbs" %}
{% include "webapp/handlebars/settings/settingsEditUser.hbs" %}
{% include "webapp/handlebars/settings/settingsEditGroup.hbs" %}
{% include "webapp/handlebars/settings/settingsEditTax.hbs" %}
{% include "webapp/handlebars/settings/settingsInvoicingGeneral.hbs" %}
{% include "webapp/handlebars/settings/settingsNumbering.hbs" %}
{% include "webapp/handlebars/settings/settingsReport.hbs" %}
{% include "webapp/handlebars/settings/partials/saveSettings.hbs" %}
{% include "webapp/handlebars/settings/partials/registrationInfo.hbs" %}
{% include "webapp/handlebars/settings/partials/permissions.hbs" %}


{# Contacts #}
{% include "webapp/handlebars/contacts/contact.hbs" %}
{% include "webapp/handlebars/contacts/contactShow.hbs" %}
{% include "webapp/handlebars/contacts/contactEdit.hbs" %}
{% include "webapp/handlebars/contacts/contacts.hbs" %}
{% include "webapp/handlebars/contacts/contactsShow.hbs" %}
{% include "webapp/handlebars/contacts/organization.hbs" %}
{% include "webapp/handlebars/contacts/organizationShow.hbs" %}
{% include "webapp/handlebars/contacts/organizationEdit.hbs" %}
{% include "webapp/handlebars/contacts/organizations.hbs" %}
{% include "webapp/handlebars/contacts/organizationsShow.hbs" %}
{% include "webapp/handlebars/contacts/partials/listOfOrganizations.hbs" %}
{% include "webapp/handlebars/contacts/partials/listOfContacts.hbs" %}
{% include "webapp/handlebars/contacts/partials/showEntityContactInfos.hbs" %}
{% include "webapp/handlebars/contacts/partials/editEntityContactInfos.hbs" %}


{# Organizer #}
{% include "webapp/handlebars/organizer/root.hbs" %}
{% include "webapp/handlebars/organizer/calendarListsShow.hbs" %}
{% include "webapp/handlebars/organizer/calendarListShow.hbs" %}
{% include "webapp/handlebars/organizer/calendarListEdit.hbs" %}
{% include "webapp/handlebars/organizer/vosaeEventShow.hbs" %}
{% include "webapp/handlebars/organizer/vosaeEventEdit.hbs" %}


{# Invoicing #}
{% include "webapp/handlebars/invoicing/invoicing.hbs" %}
{% include "webapp/handlebars/invoicing/dashboard.hbs" %}
{% include "webapp/handlebars/invoicing/partials/navTabs.hbs" %}
{% include "webapp/handlebars/invoicing/creditNote/creditNote.hbs" %}
{% include "webapp/handlebars/invoicing/creditNote/creditNoteShow.hbs" %}
{% include "webapp/handlebars/invoicing/invoice/invoice.hbs" %}
{% include "webapp/handlebars/invoicing/invoice/invoiceShow.hbs" %}
{% include "webapp/handlebars/invoicing/invoice/invoiceEdit.hbs" %}
{% include "webapp/handlebars/invoicing/invoice/invoices.hbs" %}
{% include "webapp/handlebars/invoicing/invoice/invoicesShow.hbs" %}
{% include "webapp/handlebars/invoicing/invoice/partials/tableOfInvoices.hbs" %}
{% include "webapp/handlebars/invoicing/quotation/quotations.hbs" %}
{% include "webapp/handlebars/invoicing/quotation/quotationsShow.hbs" %}
{% include "webapp/handlebars/invoicing/quotation/quotation.hbs" %}
{% include "webapp/handlebars/invoicing/quotation/quotationShow.hbs" %}
{% include "webapp/handlebars/invoicing/quotation/quotationEdit.hbs" %}
{% include "webapp/handlebars/invoicing/quotation/partials/tableOfQuotations.hbs" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/show/actions.hbs" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/show/attachments.hbs" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/show/creditNotes.hbs" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/show/currency.hbs" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/show/date.hbs" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/show/downPayments.hbs" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/show/legalNotice.hbs" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/show/lineItems.hbs" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/show/payments.hbs" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/show/receiver.hbs" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/show/summary.hbs" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/show/title.hbs" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/show/transmitter.hbs" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/show/validity.hbs" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/edit/actions.hbs" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/edit/actionsBottom.hbs" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/edit/attachments.hbs" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/edit/currency.hbs" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/edit/date.hbs" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/edit/dueDate.hbs" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/edit/legalNotice.hbs" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/edit/lineItems.hbs" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/edit/transmitter.hbs" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/edit/validity.hbs" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/edit/receiver.hbs" %}
{% include "webapp/handlebars/invoicing/invoiceBase/partials/edit/summary.hbs" %}
{% include "webapp/handlebars/invoicing/item/items.hbs" %}
{% include "webapp/handlebars/invoicing/item/itemsShow.hbs" %}
{% include "webapp/handlebars/invoicing/item/item.hbs" %}
{% include "webapp/handlebars/invoicing/item/itemShow.hbs" %}
{% include "webapp/handlebars/invoicing/item/itemEdit.hbs" %}
{% include "webapp/handlebars/invoicing/item/partials/tableOfItems.hbs" %}
{% include "webapp/handlebars/invoicing/purchaseOrder/purchaseOrder.hbs" %}
{% include "webapp/handlebars/invoicing/purchaseOrder/purchaseOrderEdit.hbs" %}
{% include "webapp/handlebars/invoicing/purchaseOrder/purchaseOrderShow.hbs" %}
{% include "webapp/handlebars/invoicing/purchaseOrder/purchaseOrders.hbs" %}
{% include "webapp/handlebars/invoicing/purchaseOrder/purchaseOrdersShow.hbs" %}
{% include "webapp/handlebars/invoicing/purchaseOrder/partials/tableOfPurchaseOrders.hbs" %}


{# Bootstrap #}
{% include "webapp/handlebars/bootstrap/alert.hbs" %}
{% include "webapp/handlebars/bootstrap/button.hbs" %}
{% include "webapp/handlebars/bootstrap/forms/field.hbs" %}
