{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <!--<script>
      // MUST BET SET BEFORE SKELETON-HEAD.HTML
      window.cachedSearch = window.location.search;
      window.testMode = true;
    </script>
    {% include "webapp/skeleton-head.html" %}
    <script>
      minispade.require('vosae');
      Em.run(function(){
        Vosae.Utilities.setLanguage(LANGUAGE);
      });
    </script>
    <link rel="stylesheet" href="{% static 'webapp/spec/vendor/jasmine.css' %}">
    <script src="{% static 'webapp/spec/vendor/sinon.js' %}"></script>
    <script src="{% static 'webapp/spec/vendor/jasmine.js' %}"></script>
    <script src="{% static 'webapp/spec/vendor/jasmine-html.js' %}"></script>
    <script src="{% static 'webapp/spec/test_helper.js' %}"></script>
    {% if TRAVIS %}
      <script src="{% static 'webapp/spec/vendor/jasmine-runner.js' %}"></script>
    {% else %}
      <script src="{% static 'webapp/spec/vendor/jasmine.console_reporter.js' %}"></script>
    {% endif %}
    <script src="{% static 'webapp/spec/specs.js' %}"></script>-->

    <link rel="stylesheet" type="text/css" href="{% static 'webapp/spec/vendor/jasmine.css' %}">
    <!-- Jasmine -->
    <script type="text/javascript" src="{% static 'webapp/spec/vendor/jasmine.js' %}"></script>
    <script type="text/javascript" src="{% static 'webapp/spec/vendor/jasmine-html.js' %}"></script>
    <script type="text/javascript" src="{% static 'webapp/spec/vendor/boot.js' %}"></script>

    <!-- Application -->
    <script type="text/javascript" src="{% static 'webapp/build/vendor.js' %}"></script>
    <script type="text/javascript" src="{% static 'webapp/build/webapp.js' %}"></script>
    <script type="text/javascript">
      var AUTH_USER = '{{ request.user.email }}';
      var LANGUAGE = '{{ LANGUAGE_CODE }}';
      var APP_ENDPOINT = '{{ APP_ENDPOINT }}';
      var PUSHER_KEY = '{{ PUSHER_KEY }}';
      var PUSHER_CLUSTER = '{{ PUSHER_CLUSTER }}';
      var PUSHER_AUTH_ENDPOINT = '{{ APP_ENDPOINT }}/rt/auth/';
      var WINDOW_LOCATION_AT_START = {
        pathname: window.location.pathname,
        protocol: window.location.protocol,
        host: window.location.host
      };

      window.testMode = true;
    </script>
  </head>
  <body>

  </body>
</html>