{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <!-- Application -->
    <script type="text/javascript" src="{% static 'webapp/build/vendor.js' %}"></script>
    <script type="text/javascript" src="{% static 'webapp/build/webapp.js' %}"></script>
    <script type="text/javascript" src="{% static 'webapp/build/locales/locale-'|add:LANGUAGE_CODE|add:'.js' %}"></script>
    <script type="text/javascript">
      var AUTH_USER = '{{ request.user.email }}';
      var LANGUAGE = '{{ LANGUAGE_CODE }}';
      var APP_ENDPOINT = '{{ APP_ENDPOINT }}';
      var PUSHER_KEY = '{{ PUSHER_KEY }}';
      var PUSHER_CLUSTER = '{{ PUSHER_CLUSTER }}';
      var PUSHER_AUTH_ENDPOINT = '{{ APP_ENDPOINT }}/rt/auth/';
      var WINDOW_LOCATION_AT_START = {
        pathname: window.location.pathname,
        protocol: window.location.protocol,
        host: window.location.host
      };
      window.testMode = true;
    </script>

    <!-- Qunit -->
    <link rel="stylesheet" type="text/css" href="{% static 'webapp/spec/vendor/qunit.css' %}">
    <script type="text/javascript" src="{% static 'webapp/spec/vendor/qunit.js' %}"></script>
    <script type="text/javascript" src="{% static 'webapp/spec/qunit_configuration.js' %}"></script>
    <script type="text/javascript" src="{% static 'webapp/spec/ember_configuration.js' %}"></script>
    <script type="text/javascript" src="{% static 'webapp/spec/ember-data-setup.js' %}"></script>
    <script type="text/javascript" src="{% static 'webapp/spec/specs.js' %}"></script>

    <script type="text/javascript">
      minispade.require('vosae');
      Em.run(function(){ Vosae.Utilities.setLanguage(LANGUAGE); });
    </script>
  </head>
  <body>
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
  </body>
</html>