#ct-tenant
  background: $settings-first-background-color
  display: none
  position: absolute
  z-index: 9000
  top: 0
  left: 0
  position: fixed
  overflow: auto

  & > .inner
    padding-top: 30px

  header.main h1
    margin: 0
    z-index: 1000
    background: $yellow
    padding: 0 10px
    position: fixed
    top: 0
    width: 100%
    font-weight: bold
    font-size: 16px
    line-height: 28px
    +box-sizing(border-box)

    i
      padding-right: 10px
      font-size: 14px
