{% load i18n templatetag_handlebars %}

{% tplhandlebars "contacts/partials/_editEntityContactInfos" %}
  <div class="pull-left">
    <table class="phones">
      <tbody>
        {{#each phone in phones}}
        <tr>
          <td>
            <a class="btn btn-icon btn-primary" {{action deletePhone phone}}>
              <i class="picto-delete"></i>
            </a>
          </td>
          <td>
            {{view view.combinedPhoneTypesField 
              phoneBinding      = "phone"
              hideSearchField   = "true"
              contentBinding    = "Vosae.phoneCombinedTypes"
              valueBinding      = "combinedTypes"
              containerCssClass = "success"
              optionLabelPath   = "content.name"
              optionValuePath   = "content.value" }}
          </td>
          <td>
            {{view Vosae.AutoGrowTextField
              valueBinding = "phone.phone"
              maxlength    = "16"
              classNames   = "form-control form-control-unstyled text-primary text-bold"
              placeholder  = "{% trans 'Number' context 'phone' %}" }}
          </td>
        </tr>
        {{/each}}
        <tr class="add" {{action addPhone}}>
          <td colspan="3">
            <a class="btn btn-icon btn-success">
              <i class="picto-add"></i>
            </a>
            <strong>{% trans  "Add phone number" %}</strong>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="emails">
      <tbody>
        {{#each email in emails}}
        <tr>
          <td>
            <a class="btn btn-icon btn-primary" {{action deleteEmail email}}>
              <i class="picto-delete"></i>
            </a>
          </td>
          <td>
            {{view view.emailTypesField 
              contentBinding    = "Vosae.emailTypeChoice"
              valueBinding      = "email.type"
              hideSearchField   = "true"
              containerCssClass = "success"
              optionLabelPath   = "content.name"
              optionValuePath   = "content.value" }}
          </td>
          <td>
            {{view Vosae.AutoGrowTextField
              valueBinding = "email.email"
              maxlength    = "64"
              classNames   = "form-control form-control-unstyled text-bold"
              placeholder  = "{% trans 'E-mail' %}" }}
          </td>
        </tr>
        {{/each}}
        <tr class="add" {{action addEmail}}>
          <td colspan="3">
            <a class="btn btn-icon btn-success">
              <i class="picto-add"></i>
            </a>
            <strong>{% trans  "Add email address" %}</strong>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="pull-right">
    <table class="addresses">
      <tbody>
        {{#each address in addresses}}
        <tr>
          <td>
            <div class="inner">
              {{view Em.TextField
                valueBinding = "address.streetAddress"
                maxlength    = "128"
                classNames   = "form-control form-control-unstyled address"
                placeholder  = "N°, {% trans 'Address' %}" }}
              {{view Em.TextField
                valueBinding = "address.extendedAddress"
                maxlength    = "128"
                classNames   = "form-control form-control-unstyled extended-address"
                placeholder  = "{% trans 'Extended address' %}" }}
              {{view Em.TextField
                valueBinding = "address.postofficeBox"
                maxlength    = "64"
                classNames   = "form-control form-control-unstyled postoffice-box"
                placeholder  = "{% trans 'Postoffice box' %}" }}
              {{view Em.TextField
                valueBinding = "address.postalCode"
                maxlength    = "64"
                classNames   = "form-control form-control-unstyled postal-code"
                placeholder  = "{% trans 'Postal code' %}" }}
              {{view Em.TextField
                valueBinding = "address.city"
                maxlength    = "64"
                classNames   = "form-control form-control-unstyled city"
                placeholder  = "{% trans 'City' %}" }}
              {{view Em.TextField
                valueBinding = "address.state"
                maxlength    = "64"
                classNames   = "form-control form-control-unstyled state"
                placeholder  = "{% trans 'State' %}" }}
              {{view Em.TextField
                valueBinding = "address.country"
                maxlength    = "64"
                classNames   = "form-control form-control-unstyled country"
                placeholder  = "{% trans 'Country' %}" }}
              {{view view.addressTypesField 
                contentBinding    = "Vosae.addressTypeChoice"
                hideSearchField   = "true"
                containerCssClass = "type success"
                valueBinding      = "address.type"
                optionLabelPath   = "content.name"
                optionValuePath   = "content.value" }} 
              <a class="btn btn-icon btn-primary" {{action deleteAddress address}}>
                <i class="picto-delete"></i>
              </a>
            </div>
          </td>
        </tr>
        {{/each}}
        <tr class="add" {{action addAddress}}>
          <td colspan="3">
            <a class="btn btn-icon btn-success">
              <i class="picto-add"></i>
            </a>
            <strong>{% trans  "Add postal address" %}</strong>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
{% endtplhandlebars %}