{% load i18n templatetag_handlebars %}

{% tplhandlebars "purchaseOrders/show" %}

  <section class="sub-actions clearfix">
    <div class="btn-toolbar pull-left"></div>
    <div class="btn-toolbar pull-right">
      <div class="btn-group">
        {{#linkTo "purchaseOrders.add" controller.session.tenant class="btn btn-primary"}}
          <i class="picto-add"></i>
          {% trans "Purchase order" %}
        {{/linkTo}}
      </div>
    </div>
  </section>

  {# Pending #}
  <section class="quotations with-head">
    <div class="header clearfix">
      <h4 class="pull-left">
        {% trans "Pending" %}
      </h4>
      <div class="btn-toolbar pull-right"></div>
    </div>
    {{#with purchaseOrdersPending}}
      {{partial "invoicing/partials/tableOfPurchaseOrders"}}
    {{/with}}

    {# Pagination #}
    {{#if paginationPendingHasNext}}
      <p class="text-center">
        <a class="btn btn-default btn-rounded btn-sm" {{action getNextPurchaseOrdersPending}}>
          {% trans "Load more purchase orders" %}
        </a>
      </p>
    {{/if}}
  </section>

  {# Approved #}
  <section class="quotations with-head">
    <div class="header clearfix">
      <h4 class="pull-left">
        {% trans "Approved" %}
      </h4>
      <div class="btn-toolbar pull-right"></div>
    </div>
    {{#with purchaseOrdersApproved}}
      {{partial "invoicing/partials/tableOfPurchaseOrders"}}
    {{/with}}

    {# Pagination #}
    {{#if paginationApprovedHasNext}}
      <p class="text-center">
        <a class="btn btn-default btn-rounded btn-sm" {{action getNextPurchaseOrdersApproved}}>
          {% trans "Load more purchase orders" %}
        </a>
      </p>
    {{/if}}
  </section>
{% endtplhandlebars %}