.popover.tour
  padding: 0

  .popover-title
    font-weight: bold
    +border-radius-separate(4px, 4px, 0px, 0px)

  .popover-content 
    p
      margin-top: 10px
      margin-bottom: 0

  .close
    padding: 5px 10px 0 0