{% load i18n templatetag_handlebars i18n_handlebars %}

{% tplhandlebars "invoiceBase/show/_creditnotes" %}
  <div class="header clearfix">
    <div class="pull-left">
      <h4>{% trans "Credit notes" %}</h4>
    </div>
    <div class="pull-right"></div>
  </div>
  <div>
    {{#each group.creditNotes}}
      {{#link-to "creditNote.show" controller.session.tenant this}}
        {% trans "See related credit note" %}
      {{/link-to}}
    {{/each}}
  </div>
{% endtplhandlebars %}