{% load i18n templatetag_handlebars i18n_handlebars %}

{% tplhandlebars "invoiceBase/show/_date" %}
  <div class="date">
    <label class="text-{{unbound relatedColor}}">
      <i class="picto-agenda"></i>
      {{#if isQuotation}}
        {% trans "Quotation date" %}:
      {{/if}}

      {{#if isPurchaseOrder}}
        {% trans "Purchase order" %}:
      {{/if}}
      
      {{#if isInvoice}}
        {% trans "Invoicing date" %}:
      {{/if}}
      
      {{#if isCreditNote}}
        {% trans "Emission date" %}:         
      {{/if}}
    </label>
    <span>
      {{#if isQuotation}}
        {{unbound currentRevision.displayQuotationDate}}
      {{/if}}

      {{#if isPurchaseOrder}}
        {{unbound currentRevision.displayQuotationDate}}
      {{/if}}
      
      {{#if isInvoice}}
        {{unbound currentRevision.displayInvoicingDate}}
      {{/if}}
      
      {{#if isCreditNote}}
        {{unbound currentRevision.displayCreditNoteEmissionDate}}          
      {{/if}}
    </span>
  </div>
{% endtplhandlebars %}