{% load i18n templatetag_handlebars i18n_handlebars %}

{% tplhandlebars "invoiceBase/show/_receiver" %}
  <div class="receiver pull-right">
    <h4>
      <i class="picto-arrow-right text-{{unbound relatedColor}}"></i>
      {{displayTenant}}
    </h4>
    <p>
      {{currentRevision.contact.fullName}}
    </p>
    <h4>{{unbound controller.session.tenant.name}}</h4>
    <p>{{unbound currentRevision.billingAddress.sender}}</p>
    <p>{{unbound currentRevision.billingAddress.streetAddress}}</p>
    <p>{{unbound currentRevision.billingAddress.extendedAddress}} {{unbound currentRevision.billingAddress.postofficeBox}}</p>
    <p>{{unbound currentRevision.billingAddress.postalCode}} {{unbound currentRevision.billingAddress.city}}</p>
    <p>{{unbound currentRevision.billingAddress.state}} {{unbound currentRevision.billingAddress.country}}</p>
  </div>
{% endtplhandlebars %}