{% load i18n templatetag_handlebars i18n_handlebars %}

{% tplhandlebars "invoiceBase/show/_transmitter" %}
  <div class="transmitter pull-left">
    <div class="logo">
      {{#if controller.session.tenant.logoUri}}
        <div class="inner">
          <img {{bindAttr src="controller.session.tenant.logoUri"}}/>
        </div>
      {{/if}}
    </div>
    <h4>{{unbound controller.session.tenant.name}}</h4>
    <p>{{unbound currentRevision.senderAddress.sender}}</p>
    <p>{{unbound currentRevision.senderAddress.streetAddress}}</p>
    <p>{{unbound currentRevision.senderAddress.extendedAddress}} {{unbound currentRevision.senderAddress.postofficeBox}}</p>
    <p>{{unbound currentRevision.senderAddress.postalCode}} {{unbound currentRevision.senderAddress.city}}</p>
    <p>{{unbound currentRevision.senderAddress.state}} {{unbound currentRevision.senderAddress.country}}</p>
  </div>
{% endtplhandlebars %}