{% load i18n static templatetag_handlebars %}

{% tplhandlebars "settings" %}
  <div class="settings-menu d-cell">    
    <div class="inner">
      <ul class="clearfix">
        <li class="exit">
          {{#linkTo "dashboard.show" controller.session.tenant class="btn"}}
            <i class="picto-arrow-left"></i>&nbsp;{% trans "Return to application" %}
          {{/linkTo}}
        </li>
        <li class="module"><strong>{% trans "Global settings" %}</strong></li>
        <li class="links">
          {{#linkTo 'settings.application' controller.session.tenant}}{% trans "Application" %}{{/linkTo}}
          {{#linkTo 'settings.apiKeys' controller.session.tenant}}{% trans "API keys" %}{{/linkTo}}
          {{#linkTo 'settings.organization' controller.session.tenant}}{% trans "Organization" %}{{/linkTo}}
          {{#linkTo 'settings.showUsers' controller.session.tenant}}{% trans "Users" %}{{/linkTo}}
          {{#linkTo 'settings.showGroups' controller.session.tenant}}{% trans "Groups" %}{{/linkTo}}
          {{#linkTo 'settings.report' controller.session.tenant}}{% trans "Reports" %}{{/linkTo}}
        </li>
        <li class="module"><strong>{% trans "Invoicing settings" %}</strong></li>
        <li class="links">
          {{#linkTo 'settings.invoicingGeneral' controller.session.tenant}}{% trans "General" %}{{/linkTo}}
          {{#linkTo 'settings.showTaxes' controller.session.tenant}}{% trans "Taxes" %}{{/linkTo}}
          {{#linkTo 'settings.numbering' controller.session.tenant}}{% trans "Numbering" %}{{/linkTo}}
        </li>
      </ul>
    </div>
  </div>
  <div class="settings-content d-cell">
    <div class="inner">
      {{outlet content}}
    </div>
  </div>
{% endtplhandlebars %}