{% load i18n templatetag_handlebars i18n_handlebars %}

{% tplhandlebars "invoiceBase/edit/_actionsBottom" %}
  <div class="actions-form">
    {{#unless isUploading}}
      {{#if isSaving}}
        <div class="btn-group">
          <a class="btn btn-rounded btn-{{unbound relatedColor}}">
            {% trans "Saving" %}…
          </a>
        </div>
      {{else}}
        <div class="btn-group">
          <a class="btn btn-rounded btn-default" {{action cancel content}}>
            {% trans "Cancel" %}
          </a>
        </div>
        {{#if isDirty}}
          <div class="btn-group">
            <a class="btn btn-rounded btn-{{unbound relatedColor}} helptour-create" {{action save content}}>
              {{#if id}}
                {% trans "Save" %}
              {{else}}
                {% trans "Create" %}
              {{/if}}
            </a>
          </div>
        {{/if}}
      {{/if}}
    {{/unless}}
  </div>
{% endtplhandlebars %}