{% load templatetag_handlebars %}

{% tplhandlebars "invoiceBase/edit/_currency" %}
  <div class="header clearfix">
    <div class="pull-left">
      {{partial "invoiceBase/show/title"}}
    </div>
    <div class="pull-right"> 
      {{view view.currencyField}}
    </div>
  </div>
{% endtplhandlebars %}