{% load i18n templatetag_handlebars i18n_handlebars %}

{% tplhandlebars "invoiceBase/edit/_date" %}
  <span class="date">
    <label class="text-{{unbound relatedColor}}">
      <i class="picto-agenda"></i>
      {{#if isQuotation}}
        {% trans "Quotation date" %}:
      {{/if}}

      {{#if isPurchaseOrder}}
        {% trans "Purchase order date" %}:        
      {{/if}}

      {{#if isInvoice}}
        {% trans "Invoicing date" %}:
      {{/if}}       
    </label>
    <span class="helptour-datecreated">
      {{#if isQuotation}}
        {{currentRevision.displayQuotationDate}}
        {{view view.quotationDateField
          currentRevisionBinding="currentRevision"
          classNames="edit" }}
      {{/if}}

      {{#if isPurchaseOrder}}
        {{currentRevision.displayPurchaseOrderDate}}
        {{view view.purchaseOrderDateField
          currentRevisionBinding="currentRevision"
          classNames="edit" }}
      {{/if}}

      {{#if isInvoice}}
        {{currentRevision.displayInvoicingDate}}
        {{view view.invoicingDateField
          currentRevisionBinding="currentRevision"
          classNames="edit" }}
      {{/if}}
    </span>
  </span>
{% endtplhandlebars %}
