{% load i18n templatetag_handlebars i18n_handlebars %}

{% tplhandlebars "invoice/edit/_dueDateBlock" %}
  <p>
    <label><strong>{% trans "Payment conditions:" %}</strong></label>
    {{view view.paymentConditionsField
      contentBinding="Vosae.paymentConditions"
      selectionBinding="view.currentPaymentConditions"
      currentRevisionBinding="currentRevision"
      containerCssClass="success"
      prompt="{% trans 'Choose one' context 'payment condition' %}"
      optionValuePath="content.value"
      optionLabelPath="content.label"}}
  </p>
  {{#unless view.isCustom}}
    <p>
      <span class="date">
        <label>
          <i class="picto-agenda"></i>
          <strong>{% trans "Payment due date on:" %}</strong>
        </label>
        <span class="grey">
          {{currentRevision.displayDueDate}}
          {{view view.dueDateField
            currentRevisionBinding="currentRevision"}}
        </span>
      </span>
    </p>
  {{else}}
    <p>
      <i class="picto-note text-green"></i>
      {{view Vosae.AutoGrowTextField
        valueBinding="currentRevision.customPaymentConditions"
        classNames="form-control form-control-unstyled inline-block custom-payment-conditions"
        maxlength="256"
        placeholder="{% trans 'Type your conditions here' %}…" }}
      <span class="date">
        <label>
          <i class="picto-agenda"></i>
          <strong>{% trans "Estimated on" context "date" %}</strong>
        </label>
        <span class="grey">
          {{currentRevision.displayDueDate}}
          {{view view.dueDateField
            currentRevisionBinding="currentRevision"}}
        </span>
      </span>
    </p>
  {{/unless}}
{% endtplhandlebars %}