{% load i18n templatetag_handlebars i18n_handlebars %}

{% tplhandlebars "invoiceBase/edit/_details" %}
  <table class="table table-line-items table-striped edit table-{{unbound relatedColor}}">
    <thead>
      <tr>
        <th></th>
        <th class="reference">{% trans "Reference" context "table-headers" %}</th>
        <th class="description">{% trans "Description" context "table-headers" %}</th>
        <th class="quantity">{% trans "Qty" context "table-headers" %}</th>
        <th class="unit-price">{% trans "Unit price (excl. tax)" context "table-headers" %}</th>
        <th class="tax">{% trans "Tax" context "table-headers" %}</th>
        <th class="total">{% trans "Total (excl. tax)" context "table-headers" %}</th>
      </tr>
    </thead>
    <tbody>
      {{#each currentRevision.lineItems}}
        <tr>
          <td class="actions">
            <a {{action 'deleteLineItem' this}}>
              <i class="picto-delete"></i>
            </a>
          </td>
          <td class="reference">
            {{view view.itemsSearchField
              currentItemBinding="this"
              dropdownCssClass="item-search-field"
              placeholder="{% trans 'Reference' %}…" }}
          </td>
          <td class="description">
            {{view view.lineItemTextArea
              currentItemBinding="this"
              valueBinding="description"
              maxlength="512"
              resize="none"
              classNames="form-control form-control-unstyled description"
              placeholder="{% trans 'Description' %}…" }}
          </td>
          <td class="quantity">
            {{view view.lineItemQuantityField
              currentItemBinding="this"
              valueBinding="displayQuantity"
              classNames="form-control form-control-unstyled quantity text-right"
              placeholder="0" }}
          </td>
          <td class="unit-price">
            {{view view.lineItemUnitPriceField
              currentItemBinding="this"
              valueBinding="displayUnitPrice"
              classNames="form-control form-control-unstyled unitPrice text-right"
              placeholder="0" }}
          </td>
          <td class="tax">
            {{view view.taxesSearchField
              currentItemBinding="this"
              dropDownCssClass="tax-search-field"
              placeholder="0%" }}
          </td>
          <td class="total">
            {{this.displayTotal}}
          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan="7" class="no-data">
            {{#if isQuotation}}
              {% trans "No items in this quotation" %}
            {{else}}
              {% trans "No items in this invoice" %}
            {{/if}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <p class="table-add-line">
    <a class="btn btn-sm btn-rounded btn-{{unbound relatedColor}}" {{action addLineItem}}>
      {% trans 'Add a line' %}
    </a>
  </p>
{% endtplhandlebars %}