{% load i18n templatetag_handlebars i18n_handlebars %}

{% tplhandlebars "invoiceBase/edit/_receiver" %}
  <div class="receiver pull-right helptour-receiver">
    <h4>
      <i class="picto-arrow-right {{unbound relatedColor}}"></i>
      {{view view.organizationSearchField 
        currentRevisionBinding="currentRevision"
        placeholder="{% trans 'Choose an organization' %}" }}
    </h4>
    <p class="contact">
      {{view view.contactSearchField 
        currentRevisionBinding="currentRevision"
        placeholder="{% trans 'Choose a contact' %}" }}
    </p>
    {{view view.billingAddressBlockView 
      viewName="billingAddressBlock" 
      contentBinding="currentRevision.billingAddress"}}
  </div>
{% endtplhandlebars %}