{% load i18n templatetag_handlebars i18n_handlebars %}

{% tplhandlebars "invoiceBase/edit/_transmitter" %}
  <div class="transmitter pull-left">
    <div class="logo">
      {{#if controller.session.tenant.logoUri}}
        <div class="inner">
          <img src="{{unbound controller.session.tenant.logoUri}}"/>
        </div>
      {{/if}}
    </div>
    <h4>
      {{#if controller.session.tenant.isLoaded}}
        {{controller.session.tenant.name}}
      {{/if}}
    </h4>
    <p>
      {{view Ember.TextField 
        valueBinding="currentRevision.sender"
        classNames="form-control form-control-unstyled input-sm contact" 
        placeholder="{% trans "Seller" %}" }}
    </p>
    {{view view.senderAddressBlockView 
      viewName="senderAddressBlock" 
      currentRevisionBinding="currentRevision"}}          
  </div>
{% endtplhandlebars %}


{% tplhandlebars "invoicebase-edit-sender-address-block" %}
  <div class="inner">
    <p>
      {{view Em.TextField
        valueBinding = "view.content.streetAddress"
        maxlength = "128"
        classNames = "form-control form-control-unstyled input-sm address"
        placeholder = "{% trans 'Address' %}" }}
    </p>
    <p>
      {{view Em.TextField
        valueBinding = "view.content.extendedAddress"
        maxlength = "128"
        classNames = "form-control form-control-unstyled input-sm extended-address half"
        placeholder = "{% trans 'Extended address' %}" }}
      {{view Em.TextField
        valueBinding = "view.content.postofficeBox"
        maxlength = "64"
        classNames = "form-control form-control-unstyled input-sm postoffice-box half"
        placeholder = "{% trans 'Postoffice box' %}" }}
    </p>
    <p>
      {{view Em.TextField
        valueBinding = "view.content.postalCode"
        maxlength = "64"
        classNames = "form-control form-control-unstyled input-sm postal-code half"
        placeholder = "{% trans 'Postal code' %}" }}
      {{view Em.TextField
        valueBinding = "view.content.city"
        maxlength = "64"
        classNames = "form-control form-control-unstyled input-sm city half"
        placeholder = "{% trans 'City' %}" }}
    </p>
    <p>
      {{view Em.TextField
        valueBinding = "view.content.state"
        maxlength = "64"
        classNames = "form-control form-control-unstyled input-sm state half"
        placeholder = "{% trans 'State' %}" }}
      {{view Em.TextField
        valueBinding = "view.content.country"
        maxlength = "64"
        classNames = "form-control form-control-unstyled input-sm country half"
        placeholder = "{% trans 'Country' %}" }} 
    </p>
  </div>
{% endtplhandlebars %}