{% load i18n templatetag_handlebars i18n_handlebars %}

{% tplhandlebars "quotation/edit/_validity" %}
  <span class="validity clearfix">
    <label class="text-{{unbound relatedColor}}">
      <i class="picto-clock"></i>
      {% trans "Valid until" %}:
    </label>
    <span class="grey">
      {{currentRevision.displayQuotationValidity}}
      {{view view.quotationValidityField
        currentRevisionBinding="currentRevision"}}
    </span>
  </span>
{% endtplhandlebars %}