{% load i18n templatetag_handlebars i18n_handlebars %}
{% load static from staticfiles %}

{# InvoiceBase Date #}
{% tplhandlebars "invoiceBase/show/_date" %}
  <div class="date">
    <label class="{{unbound relatedColor}}">
      <i class="picto-agenda"></i>
      {{#if isQuotation}}
        {% trans "Quotation date" %}:
      {{else}}
        {{#if isPurchaseOrder}}
          {% trans "Purchase order" %}:
        {{else}}
          {{#if isInvoice}}
            {% trans "Invoicing date" %}:
          {{else}}
            {{#if isCreditNote}}
              {% trans "Emission date" %}:
           {{/if}}
          {{/if}}
        {{/if}}
      {{/if}}
    </label>
    <span>
      {{#ifCond isQuotation 'or' isPurchaseOrder}}
        {{unbound currentRevision.displayQuotationDate}}
      {{else}}
        {{#if isInvoice}}
          {{unbound currentRevision.displayInvoicingDate}}
        {{else}}
          {{#if isCreditNote}}
            {{unbound currentRevision.displayCreditNoteEmissionDate}}          
          {{/if}}
        {{/if}}
      {{/ifCond}}
    </span>
  </div>
{% endtplhandlebars %}


{# InvoiceBase Actions and States #}
{% tplhandlebars "invoiceBase/show/_actions" %}
  <div class="btn-group">
    <button class="btn grey" {{action 'downloadPdf' controller.session.tenant.reportSettings.defaultLanguage.code target="controller"}}>PDF{{#if isGeneratingPdfState}} - {% trans "Generating" %}…{{/if}}</button>
    <button class="btn dropdown-toggle grey" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a {{action 'downloadPdf' controller.session.tenant.reportSettings.defaultLanguage.code target="controller"}}>{{controller.session.tenant.reportSettings.defaultLanguage.name}} ({% trans "default" context "something by default" %})</a></li>
      <li class="divider"></li>
      {{#each controller.session.tenant.reportSettings.otherLanguages}}
        <li><a {{action 'downloadPdf' code target="controller"}}>{{ name }}</a></li>
      {{/each}}
    </ul>
  </div>
    
  {# InvoiceBase is Invoice #}
  {{#if isInvoice}}
    {{#if isInvoicable}}
      {{#if isUpdatingState}}
        <div class="btn-group">
          <a class="btn grey">
            {% trans "Processing" %}…
          </a>
        </div>
      {{else}}
        <div class="btn-group">
          <a class="btn green" {{action 'markAsState' 'REGISTERED' target="controller"}}>
            {% trans "Charge" %}
          </a>
        </div>
      {{/if}}
    {{/if}}
    {{#if isCancelable}}
      <div class="btn-group">
        <a class="btn grey" {{action 'invoiceCancel' target="controller"}}>
          {% trans "Cancel invoice" %}
        </a>
      </div>
    {{/if}}
    {{#if isModifiable}}
      <div class="btn-group">
        {{#linkTo "invoice.edit" controller.session.tenant content class="btn green"}}
          {% trans "Edit" %}
        {{/linkTo}}
      </div>
    {{/if}}
    {% comment %}
    {{#if isDeletable}}
      <div class="btn-group">
        <a class="btn grey" {{action 'delete' content}}>
          {% trans "Delete" %}
        </a>
      </div>
    {{/if}}
    {% endcomment %}
  {{/if}}

  {# InvoiceBase is Quotation or PurchaseOrder #}
  {{#ifCond isQuotation 'or' isPurchaseOrder}}
    {{#unless isInvoiced}}
      <div class="btn-group">
        <a class="btn grey">
          {{displayState}}
        </a>
        <a class="btn grey split dropdown-toggle" data-toggle="dropdown">
          <i class="picto-arrow-bottom"></i>
        </a>
        <ul class="dropdown-menu">
          {{#each availableStates}}
            <li>
              <a {{action 'markAsState' value target="controller"}}>
                {{markAsLabel}}
              </a>
            </li>
          {{/each}}
        </ul>
      </div>
    
      {{#if isInvoiceable}}
        <div class="btn-group">
          <a class="btn orange" {{action 'makeInvoice' target="controller"}}>
            {% trans "Make invoice" %}
          </a>
        </div>
      {{/if}}

      {{#if isModifiable}}
        {{#if isQuotation}}
          <div class="btn-group">
            {{#linkTo "quotation.edit" controller.session.tenant content class="btn orange"}}
              {% trans "Edit" %}
            {{/linkTo}}
          </div>
        {{else}}
          {{#if isPurchaseOrder}}
            <div class="btn-group">
              {{#linkTo "purchaseOrder.edit" controller.session.tenant content class="btn orange"}}
                {% trans "Edit" %}
              {{/linkTo}}
            </div>
          {{/if}}
        {{/if}}
      {{/if}}

      {% comment %}
      {{#if isDeletable}}
        <div class="btn-group">
          <a href="#" class="btn grey" {{action 'delete' content}}>
            {% trans "Delete" %}
          </a>
        </div>
      {{/if}}
      {% endcomment %}
    {{else}}
      <div class="btn-group">
        <a class="btn orange disabled">
          {{displayState}}
        </a>
      </div>
    {{/unless}}
  {{/ifCond}}
{% endtplhandlebars %}


{# InvoiceBase Transmitter #}
{% tplhandlebars "invoiceBase/show/_transmitter" %}
  <div class="transmitter pull-left">
    <div class="logo">
      {{#if controller.session.tenant.logoUri}}
        <div class="inner">
          <img src="{{unbound controller.session.tenant.logoUri}}"/>
        </div>
      {{/if}}
    </div>
    <h4>
      {{#if controller.session.tenant.isLoaded}}
        {{unbound controller.session.tenant.name}}
      {{/if}}
    </h4>
    <p>
      {{unbound currentRevision.sender}}
    </p>
    {{view Vosae.InvoiceBaseShowAddressBlock contentBinding="currentRevision.senderAddress" }}
  </div>
{% endtplhandlebars %}


{# InvoiceBase Receiver #}
{% tplhandlebars "invoiceBase/show/_receiver" %}
  <div class="receiver pull-right">
    <h4>
      <i class="picto-arrow-right {{unbound relatedColor}}"></i>
      {{displayTenant}}
    </h4>
    <p>
      {{currentRevision.contact.fullName}}
    </p>
    {{view Vosae.InvoiceBaseShowAddressBlock contentBinding="currentRevision.billingAddress" }}
  </div>
{% endtplhandlebars %}


{# InvoiceBase Title #}
{% tplhandlebars "invoiceBase/show/_title" %}
  <h4 class="invoice-base-title">
    {{#ifCond isQuotation 'or' isPurchaseOrder}}
      <span class="invoice-base-type">
        {{#if isQuotation}}{% trans "Quotation" %}{{else}}{% trans "Purchase order" %}{{/if}}</span>
      {{#if ref}}
        <span class="invoice-base-ref">{{ref}}</span>
      {{else}}
        <span class="invoice-base-noref">{% trans "Reference will be generated on save" %}</span>
      {{/if}}
    {{else}}
      {{#if isInvoice}}
        <span class="invoice-base-type">{% trans "Invoice" %}</span>
        {{#if hasTemporaryReference}}
          <span class="invoice-base-noref">{% trans "Reference will be generated when registered" %}</span>
        {{else}}
          <span class="invoice-base-ref">{{ref}}</span>
        {{/if}}
      {{else}}
        {{#if isCreditNote}}
          <span class="invoice-base-type">{% trans "Credit Note" %}</span>
          <span class="invoice-base-ref">{{ref}}</span>
        {{/if}}
      {{/if}}
    {{/ifCond}}
  </h4>
{% endtplhandlebars %}


{# InvoiceBase Currency and Reference #}
{% tplhandlebars "invoiceBase/show/_currency" %}
  <div class="header clearfix">
    <div class="pull-left">
      {{partial "invoiceBase/show/title"}}
    </div>
    <div class="pull-right currency {{unbound relatedColor}}">
      {{unbound currentRevision.currency.displaySignWithSymbol}}
    </div>
  </div>
{% endtplhandlebars %}


{# InvoiceBase Line Items #}
{% tplhandlebars "invoiceBase/show/_details" %}
  <table class="table table-line-items">
    <thead class="{{unbound relatedColor}}">
      <tr>
        <th class="reference">{% trans "Reference" context "table-headers" %}</th>
        <th class="description">{% trans "Description" context "table-headers" %}</th>
        <th class="quantity">{% trans "Qty" context "table-headers" %}</th>
        <th class="unit-price">{% trans "Unit price (excl. tax)" context "table-headers" %}</th>
        <th class="tax">{% trans "Tax" context "table-headers" %}</th>
        <th class="total">{% trans "Total (excl. tax)" context "table-headers" %}</th>
      </tr>
    </thead>
    <tbody>
      {{#if currentRevision.lineItems}}
        {{#each currentRevision.lineItems}}
          <tr>
            <td class="reference">{{ref}}</td>
            <td class="description">{{nl2br description}}</td>
            <td class="quantity">{{displayQuantity}}</td>
            <td class="unit-price">{{displayUnitPrice}}</td>
            <td class="tax">{{tax.displayTax}}</td>
            <td class="total">{{displayTotal}}</td>
          </tr>
        {{/each}}
      {{else}}
        <tr>
          <td colspan="6" class="no-data">
            {{#if isQuotation}}
              {% trans "No items in this quotation" %}
            {{else}}
              {% trans "No items in this invoice" %}
            {{/if}}
          </td>
        </tr>
      {{/if}}
    </tbody>
  </table>
{% endtplhandlebars %}


{# InvoiceBase Summary #}
{% tplhandlebars "invoiceBase/show/_summary" %}
  <table class="table-invoice-summary">
    <tbody>
      <tr>
        <td>{% trans "TOTAL (excl. tax)" %}</td>
        <td>
          <div class="inner">
            {{formatMoney currentRevision.total currentRevision.currency.displaySign}}
          </div>
        </td>
      </tr>
      {{#each currentRevision.taxes}}
        <tr>
          <td>{{this.tax.displayTax}}</td>
          <td>
            <div class="inner">
              {{formatMoney this.total controller.content.currentRevision.currency.displaySign}}
            </div>
          </td>
        </tr>
      {{/each}}
      <tr>
        <td>{% trans "TOTAL (incl. tax)" %}</td>
        <td>
          <div class="inner">
            {{formatMoney currentRevision.totalVAT currentRevision.currency.displaySign}}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
{% endtplhandlebars %}


{# InvoiceBase Payments #}
{% tplhandlebars "invoiceBase/show/_payments" %}
  <div class="header clearfix">
    <div class="pull-left">
      <h4>{% trans "Payments" %}</h4>
    </div>
    <div class="pull-right">
      <span class="text">{% trans "Balance" %}</span> <span class="orange">{{formatMoney balance currentRevision.currency.displaySign}}</span>
    </div>
  </div>
  <table class="table table-invoice-payments">
    <thead class="{{unbound relatedColor}}">
      <tr>
        <th class="date">{% trans "Date" context "table-headers" %}</th>
        <th class="type">{% trans "Type" context "table-headers" %}</th>
        <th class="cur">{% trans "Currency" context "table-headers" %}</th>
        <th class="amount">{% trans "Amount" context "table-headers" %}</th>
        <th class="note">{% trans "Note" context "table-headers" %}</th>
        <th class="action">{% trans "Action" context "table-headers" %}</th>
      </tr>
    </thead>
    <tbody>
      {{#if payments}}
        {{#each payments}}
          {{#if id}}
            <tr>
              <td class="date">{{displayDate}}</td>
              <td class="type">{{displayType}}</td>
              <td class="cur">{{currency.description}}</td>
              <td class="amount">{{formatMoney displayAmount currency.displaySign}}</td>
              <td class="note">{{nl2br displayNote}}</td>
              <td class="action">
                -
                {# <a class="btn btn-small rounded orange" {{action 'deletePayment' this}}>{% trans "Delete" %}</a> #}
              </td>
            </tr>        
          {{else}}
            <tr>
              <td class="date">
                {{view view.paymentDateField
                  paymentBinding="this"
                  classNames="edit" }}
              </td>
              <td class="type">
                {{view view.paymentTypeField
                  contentBinding="Vosae.paymentTypes"
                  valueBinding="type"
                  optionLabelPath="content.label"
                  optionValuePath="content.value"
                  classNames="edit" }}
              </td>
              <td class="cur">
                {{view view.paymentCurrencyField
                  contentBinding="controller.currencies"
                  optionLabelPath="content.description"
                  optionValuePath="content.symbol"
                  paymentBinding="this"
                  classNames="edit" }}
              </td>
              <td class="amount">
                {{view view.paymentAmountField
                  paymentBinding="this"
                  placeholder="0"
                  classNames="edit" }}
              </td>
              <td class="note">
                {{view view.paymentNoteField
                  valueBinding="note"
                  resize="none"
                  placeholder="{% trans 'Description' %}…"
                  classNames="edit" }}
              </td>
              <td class="action">
                <a class="btn btn-small rounded green" {{action 'savePayment' this}}>
                  {{#if isSaving}}{% trans "Saving..." %}{{else}}{% trans "Save" %}{{/if}}
                </a>
              </td>
            </tr>
          {{/if}}
        {{/each}}
      {{else}}
        <tr>
          <td colspan="6" class="no-data">
            {% trans "No payments have been received" %}
          </td>
        </tr>
      {{/if}}
    </tbody>
  </table>
  <p class="table-add-line">
    {{#if canAddPayment}}
      <a class="btn btn-small rounded green" {{action addPayment}}>
        {% trans 'Add payment' %}
      </a>
    {{/if}}
  </p>
  {% comment %}
  <table class="table-invoice-summary">
    <tbody>
      <tr>
        <td>{% trans "Balance" context "payment" %}</td>
        <td>
          <div class="inner">
            {{formatMoney displayBalance currentRevision.currency.displaySign}}
          </div>
        </td> 
      </tr>
    </tbody>
  </table>
  {% endcomment %}
{% endtplhandlebars %}

{# InvoiceBase CreditNotes #}
{% tplhandlebars "invoiceBase/show/_creditnotes" %}
  <div class="header clearfix">
    <div class="pull-left">
      <h4>{% trans "Credit notes" %}</h4>
    </div>
    <div class="pull-right"></div>
  </div>
  <div>
    {{#linkTo "creditNote.show" controller.session.tenant relatedCreditNote}}
      {% trans "See related credit note" %}
    {{/linkTo}}
  </div>
{% endtplhandlebars %}

{# InvoiceBase Downpayments #}
{% tplhandlebars "invoiceBase/show/_downpayments" %}
  <table class="table-invoice-downpayments {{unbound relatedColor}}">
    <thead>
      <tr>
        <th></th>
        <th>{% trans "Date" %}</th>
        <th>{% trans "Type" %}</th>
        <th>{% trans "Amount" %}</th>
        <th>{% trans "Note" %}</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <p class="table-add-line">
    <a class="button {{unbound relatedColor}} no-icon rounded small" {{action addDownpayment}}>
      {% trans "Add down-payment" %}
    </a>
  </p>
{% endtplhandlebars %}

{# InvoiceBase Attachments #}
{% tplhandlebars "invoiceBase/show/_attachments" %}
  <div class="header clearfix">
    <div class="pull-left">
      <h4>{% trans "Attachments" %}</h4>
    </div>
  </div>
  <table class="table table-attachments edit">
    <thead class="{{unbound relatedColor}}">
      <tr>
        <th class="name">{% trans "Name" context "table-headers" %}</th>
        <th class="size">{% trans "Size" context "table-headers" %}</th>
        <th class="created-at">{% trans "Created" context "table-headers" %}</th>
        <th class="modified-at">{% trans "Last modified" context "table-headers" %}</th>
        <th class="issuer">{% trans "Author" context "table-headers" %}</th>
        <th class="link">{% trans "Link" context "table-headers" %}</th>
      </tr>
    </thead>
    <tbody>
      {{#if attachments}}
        {{#each attachments}}
          <tr>
            <td class="name">{{name}}</td>
            <td class="download">
              <a {{bindAttr href="downloadLink"}} class="orange" title="{% trans 'Download' %}" target="_blank">
                <i class="picto-download"></i>
              </a>
            </td>
            <td class="size">{{humanFileSize size}}</td>
            <td class="created-at">{{displayCreatedAt}}</td>
            <td class="modified-at">{{displayModifiedAt}}</td>
            <td class="issuer">{{issuer.getFullName}}</td>
          </tr>
        {{/each}}
      {{else}}
        <tr>
          <td colspan="6" class="no-data">
            {{#if isQuotation}}
              {% trans "No attachments related to this quotation" %}
            {{else}}
              {% trans "No attachments related to this invoice" %}
            {{/if}}
          </td>
        </tr>
      {{/if}}
    </tbody>
  </table>
{% endtplhandlebars %}

{# Quotation validity #}
{% tplhandlebars "quotation/show/_validity" %}
  <div class="validity">
    <label class="{{unbound relatedColor}}">
      <i class="picto-clock"></i>
      {% trans "Quotation valid until" %}:
    </label>
    <span>
      {{#if currentRevision.displayQuotationValidity}}
        {{unbound currentRevision.displayQuotationValidity}}
      {{else}}
        {% trans "Undefined" %}
      {{/if}}
    </span>
  </div>
{% endtplhandlebars %}

{# Invoice legal notice #}
{% tplhandlebars "invoice/show/_legalNotice" %}
  <div class="header clearfix">
    <div class="pull-left">
      <h4>{% trans "Payment Terms" %}</h4>
    </div>
  </div>
  <div>
    {{#if currentRevision.customPaymentConditions}}
      <p><i class="picto-note green"></i> {% verbatimblocktrans %}Payment conditions: <span class="grey">{{currentRevision.customPaymentConditions}}</span>{% endverbatimblocktrans %}</p>
    {{/if}}
    <p>
      <i class="picto-agenda green"></i> {% verbatimblocktrans %}Payment due date on: <span class="grey">{{currentRevision.displayDueDate}}</span>{% endverbatimblocktrans %}
    </p>
    <p>
      <i class="picto-rounded-check green"></i> {% verbatimblocktrans %}Accepted payment methods: <span class="grey">{{invoicingSettings.acceptedPaymentTypesFormatted}}</span>{% endverbatimblocktrans %}
    </p>
    <p>
      {{#if invoicingSettings.lateFeeRate}}
        <i class="picto-flag green"></i> {% verbatimblocktrans %}Late fee rate: <span class="grey">{{invoicingSettings.lateFeeRate}}%</span>{% endverbatimblocktrans %}
      {{else}}
        <i class="picto-flag green"></i> {% blocktrans %}Late fee: <span class="grey">at the legal rate</span>{% endblocktrans %}
      {{/if}}
    </p>
  </div>
{% endtplhandlebars %}