{% load i18n templatetag_handlebars i18n_handlebars %}
{% load static from staticfiles %}

{# InvoiceBase Date #}
{% tplhandlebars "invoiceBase/edit/_date" %}
  <span class="date">
    <label class="{{unbound relatedColor}}">
      <i class="picto-agenda"></i>
      {{#if isQuotation}}
        {% trans "Quotation date" %}:
      {{else}}
        {{#if isPurchaseOrder}}
          {% trans "Purchase order date" %}:        
        {{else}}
          {{#if isInvoice}}
            {% trans "Invoicing date" %}:
          {{/if}}       
        {{/if}}
      {{/if}}
    </label>
    <span class="helptour-datecreated">
      {{#if isInvoice}}
        {{currentRevision.displayInvoicingDate}}
        {{view view.invoicingDateField
          currentRevisionBinding="currentRevision"
          classNames="edit" }}
      {{else}}
        {{currentRevision.displayQuotationDate}}
        {{view view.quotationDateField
          currentRevisionBinding="currentRevision"
          classNames="edit" }}
      {{/if}}
    </span>
  </span>
{% endtplhandlebars %}


{# InvoiceBase Actions and States #}
{% tplhandlebars "invoiceBase/edit/_actions" %}
  {{#if isDeletable}}
    <div class="btn-group">
      <a class="btn grey" {{action 'delete' content}}>
        {% trans "Delete" %}
      </a>
    </div>
  {{/if}}
{% endtplhandlebars %}


{# InvoiceBase Transmitter #}
{% tplhandlebars "invoiceBase/edit/_transmitter" %}
  <div class="transmitter pull-left">
    <div class="logo">
      {{#if controller.session.tenant.logoUri}}
        <div class="inner">
          <img src="{{unbound controller.session.tenant.logoUri}}"/>
        </div>
      {{/if}}
    </div>
    <h4>
      {{#if controller.session.tenant.isLoaded}}
        {{controller.session.tenant.name}}
      {{/if}}
    </h4>
    <p>
      {{view Ember.TextField 
        valueBinding="currentRevision.sender"
        classNames="edit contact" 
        placeholder="{% trans "Seller" %}" }}
    </p>
    {{view view.senderAddressBlockView 
      viewName="senderAddressBlock" 
      currentRevisionBinding="currentRevision"}}          
  </div>
{% endtplhandlebars %}


{# InvoiceBase Receiver #}
{% tplhandlebars "invoiceBase/edit/_receiver" %}
  <div class="receiver pull-right helptour-receiver">
    <h4>
      <i class="picto-arrow-right {{unbound relatedColor}}"></i>
      {{view view.organizationSearchField 
        currentRevisionBinding="currentRevision"
        placeholder="{% trans 'Choose an organization' %}" }}
    </h4>
    <p class="contact">
      {{view view.contactSearchField 
        currentRevisionBinding="currentRevision"
        placeholder="{% trans 'Choose a contact' %}" }}
    </p>
    {{view view.billingAddressBlockView 
      viewName="billingAddressBlock" 
      contentBinding="currentRevision.billingAddress"}}
  </div>
{% endtplhandlebars %}


{# InvoiceBase Currency and Reference #}
{% tplhandlebars "invoiceBase/edit/_currency" %}
  <div class="header clearfix">
    <div class="pull-left">
      {{partial "invoiceBase/show/title"}}
    </div>
    <div class="pull-right"> 
      {{#if Vosae.currenciesAreLoaded}}
        {{view view.currencyField}}
      {{/if}}
    </div>
  </div>
{% endtplhandlebars %}


{# InvoiceBase Line Items #}
{% tplhandlebars "invoiceBase/edit/_details" %}
  <table class="table table-line-items edit">
    <thead class="{{unbound relatedColor}}">
      <tr>
        <th></th>
        <th class="reference">{% trans "Reference" context "table-headers" %}</th>
        <th class="description">{% trans "Description" context "table-headers" %}</th>
        <th class="quantity">{% trans "Qty" context "table-headers" %}</th>
        <th class="unit-price">{% trans "Unit price (excl. tax)" context "table-headers" %}</th>
        <th class="tax">{% trans "Tax" context "table-headers" %}</th>
        <th class="total">{% trans "Total (excl. tax)" context "table-headers" %}</th>
      </tr>
    </thead>
    <tbody>
      {{#if currentRevision.lineItems.length}}
        {{#each currentRevision.lineItems}}
          <tr>
            <td class="actions">
              <a {{action 'deleteLineItem' this}}>
                <i class="picto-delete"></i>
              </a>
            </td>
            <td class="reference">
              {{view view.itemsSearchField
                currentItemBinding="this"
                dropdownCssClass="item-search-field"
                placeholder="{% trans 'Reference' %}…" }}
            </td>
            <td class="description">
              {{view view.lineItemTextArea
                currentItemBinding="this"
                valueBinding="description"
                maxlength="512"
                resize="none"
                classNames="edit description"
                placeholder="{% trans 'Description' %}…" }}
            </td>
            <td class="quantity">
              {{view view.lineItemQuantityField
                currentItemBinding="this"
                valueBinding="displayQuantity"
                classNames="edit quantity text-right"
                placeholder="0" }}
            </td>
            <td class="unit-price">
              {{view view.lineItemUnitPriceField
                currentItemBinding="this"
                valueBinding="displayUnitPrice"
                classNames="edit unitPrice text-right"
                placeholder="0" }}
            </td>
            <td class="tax">
              {{view view.taxesSearchField
                currentItemBinding="this"
                dropDownCssClass="tax-search-field"
                placeholder="0%" }}
            </td>
            <td class="total">
              {{this.displayTotal}}
            </td>
          </tr>
        {{/each}}
      {{else}}
        <tr>
          <td colspan="7" class="no-data">
            {{#if isQuotation}}
              {% trans "No items in this quotation" %}
            {{else}}
              {% trans "No items in this invoice" %}
            {{/if}}
          </td>
        </tr>
      {{/if}}
    </tbody>
  </table>
  <p class="table-add-line">
    <a class="btn btn-small rounded {{unbound relatedColor}}" {{action addLineItem}}>
      {% trans 'Add a line' %}
    </a>
  </p>
{% endtplhandlebars %}

{# InvoiceBase Attachments #}
{% tplhandlebars "invoiceBase/edit/_attachments" %}
  <div class="header clearfix">
    <div class="pull-left">
      <h4>{% trans "Attachments" %}</h4>
    </div>
  </div>
  <table class="table table-attachments edit">
    <thead class="{{unbound relatedColor}}">
      <tr>
        <th class="name">{% trans "Name" context "table-headers" %}</th>
        <th class="download"></th>
        <th class="size">{% trans "Size" context "table-headers" %}</th>
        <th class="created-at">{% trans "Created" context "table-headers" %}</th>
        <th class="modified-at">{% trans "Last modified" context "table-headers" %}</th>
        <th class="issuer">{% trans "Author" context "table-headers" %}</th>
        <th class="action"></th>
      </tr>
    </thead>
    <tbody>      
      <tr>
        <td colspan="7" class="fileupload">
          <div class="inner">
            <div class="drag-drop-message">{% trans "Drop attachments here" %}</div>
            <input class="fileupload fill" type="file" multiple/>
          </div>
        </td>
      </tr>
      {{#if attachmentUploads}}
        {{#each attachmentUploads}}
          <tr class="upload-process">
            <td class="name" colspan="5">{{name}}</td>
            <td class="upload-progress" colspan="2">
              <div class="progress">
                <div class="bar" {{bindAttr style="displayProgress"}}></div>
              </div>
            </td>
          </tr>
        {{/each}}
      {{/if}}
      {{#if attachments}}
        {{#each attachments}}
          <tr>
            <td class="name">{{name}}</td>
            <td class="download">
              <a {{bindAttr href="downloadLink"}} class="orange" title="{% trans 'Download' %}" target="_blank">
                <i class="picto-download"></i>
              </a>
            </td>
            <td class="size">{{humanFileSize size}}</td>
            <td class="created-at">{{displayCreatedAt}}</td>
            <td class="modified-at">{{displayModifiedAt}}</td>
            <td class="issuer">{{issuer.getFullName}}</td>
            <td class="action">
              <a {{action "deleteAttachment" this}} class="orange" title="{% trans 'Delete' %}" target="_blank">
                <i class="picto-rounded-delete"></i>
              </a>
            </td>
          </tr>
        {{/each}}
      {{else}}
        <tr>
          <td colspan="7" class="no-data">
            {{#if isQuotation}}
              {% trans "No attachments related to this quotation" %}
            {{else}}
              {% trans "No attachments related to this invoice" %}
            {{/if}}
          </td>
        </tr>
      {{/if}}
    </tbody>
  </table>
  <p class="table-add-line">
    <a class="btn btn-small rounded {{unbound relatedColor}}" {{action openFileUploadBrowser target="view"}}>
      {% trans 'Add an attachment' %}
    </a>
  </p>
{% endtplhandlebars %}

{# InvoiceBase Actions bottom #}
{% tplhandlebars "invoiceBase/edit/_actionsBottom" %}
  <div class="actions-form">
    {{#unless isUploading}}
      {{#if isSaving}}
        <div class="btn-group">
          <a class="btn rounded {{unbound relatedColor}}">
            {% trans "Saving" %}…
          </a>
        </div>
      {{else}}
        <div class="btn-group">
          <a class="btn rounded grey" {{action cancel content}}>
            {% trans "Cancel" %}
          </a>
        </div>
        {{#if isDirty}}
          <div class="btn-group">
            <a class="btn rounded {{unbound relatedColor}} helptour-create" {{action save content}}>
              {{#if id}}
                {% trans "Save" %}
              {{else}}
                {% trans "Create" %}
              {{/if}}
            </a>
          </div>
        {{/if}}
      {{/if}}
    {{/unless}}
  </div>
{% endtplhandlebars %}

{# Quotation validity #}
{% tplhandlebars "quotation/edit/_validity" %}
  <span class="validity clearfix">
    <label class="{{unbound relatedColor}}">
      <i class="picto-clock"></i>
      {% trans "Valid until" %}:
    </label>
    <span class="grey">
      {{currentRevision.displayQuotationValidity}}
      {{view view.quotationValidityField
        currentRevisionBinding="currentRevision"}}
    </span>
  </span>
{% endtplhandlebars %}

{# Invoice legal notice #}
{% tplhandlebars "invoice/edit/_legalNotice" %}
  <div class="header clearfix">
    <div class="pull-left">
      <h4>{% trans "Payment Terms" %}</h4>
    </div>
  </div>
  {{view view.dueDateBlockView currentRevisionBinding="currentRevision" }}
  <div>
    <p>
      <i class="picto-rounded-check green"></i> {% verbatimblocktrans %}Accepted payment methods: <span class="grey">{{invoicingSettings.acceptedPaymentTypesFormatted}}</span>{% endverbatimblocktrans %}
    </p>
    <p>      
      {{#if invoicingSettings.lateFeeRate}}
        <i class="picto-flag green"></i> {% verbatimblocktrans %}Late fee rate: <span class="grey">{{invoicingSettings.lateFeeRate}}%</span>{% endverbatimblocktrans %}
      {{else}}
        <i class="picto-flag green"></i> {% blocktrans %}Late fee: <span class="grey">at the legal rate</span>{% endblocktrans %}
      {{/if}}
    </p>
  </div>
{% endtplhandlebars %}
 
{# Due date block #}
{% tplhandlebars "invoice/edit/_dueDateBlock" %}
    <p>
      <label>{% trans "Payment conditions:" %}</label>
      {{view view.paymentConditionsField
        contentBinding="Vosae.paymentConditions"
        selectionBinding="view.currentPaymentConditions"
        currentRevisionBinding="currentRevision"
        containerCssClass="green"
        prompt="{% trans 'Choose one' context 'payment condition' %}"
        optionValuePath="content.value"
        optionLabelPath="content.label"}}
    </p>
    {{#unless view.isCustom}}
      <p>
        <span class="date">
          <label>
            <i class="picto-agenda"></i>
            {% trans "Payment due date on:" %}
          </label>
          <span class="grey">
            {{currentRevision.displayDueDate}}
            {{view view.dueDateField
              currentRevisionBinding="currentRevision"}}
          </span>
        </span>
      </p>
    {{else}}
      <p>
        <i class="picto-note green"></i>
        {{view Vosae.AutoGrowTextField
          valueBinding="currentRevision.customPaymentConditions"
          classNames="edit"
          maxlength="256"
          placeholder="{% trans 'Type your conditions here' %}…" }}
        <span class="date">
          <label>
            <i class="picto-agenda"></i>
            {% trans "Estimated on" context "date" %}
          </label>
          <span class="grey">
            {{currentRevision.displayDueDate}}
            {{view view.dueDateField
              currentRevisionBinding="currentRevision"}}
          </span>
        </span>
      </p>
  {{/unless}}
{% endtplhandlebars %}
