{% load i18n templatetag_handlebars i18n_handlebars %}

{% tplhandlebars "notificationItems" %}
  {{#each item in view.content}}
    {{view view.notificationEntryView contentBinding="item"}}
  {{/each}}
{% endtplhandlebars %}


{% tplhandlebars "notificationEntry" %}
  <div class="d-cell icon">
    <i class="text-center {{unbound item.module}}"></i>
  </div>
  <div class="d-cell text">
    {{view item.displayView contentBinding="item"}}
  </div>
  <div class="d-cell date text-right">
    {{fromNow valueBinding="item.sentAt"}}
  </div>
{% endtplhandlebars %}


{% tplhandlebars "notificationEntry/base" %}
  {{#with view.content}}
    {% verbatimblocktrans %}The resource {{resource_name}} has been updated{% endverbatimblocktrans %}
  {{/with}}
{% endtplhandlebars %}


{% tplhandlebars "notificationEntry/contactSaved" %}
  {{#with view.content}}
    {% verbatimblocktrans %}{{#if resource}}<a {{action transitionToResource resource target="controller.controllers.notifications"}}>{{contactName}}</a>{{else}}{{contactName}}{{/if}} has been updated{% endverbatimblocktrans %}
  {{/with}}
{% endtplhandlebars %}


{% tplhandlebars "notificationEntry/organizationSaved" %}
  {{#with view.content}}
    {% verbatimblocktrans %}{{#if resource}}<a {{action transitionToResource resource target="controller.controllers.notifications"}}>{{organizationName}}</a>{{else}}{{organizationName}}{{/if}} has been updated{% endverbatimblocktrans %}
  {{/with}}
{% endtplhandlebars %}


{# WARNING : FOR THIS NOTIFICATION REMEMBER TO USE quotationResource RATHER THAN resource #}
{% tplhandlebars "notificationEntry/quotationSaved" %}
  {{#with view.content}}
    {% verbatimblocktrans %}The quotation {{#if quotationResource}}<a {{action transitionToResource quotationResource target="controller.controllers.notifications"}}>{{quotationReference}}</a>{{else}}{{quotationReference}}{{/if}} for {{customerDisplay}} has been updated{% endverbatimblocktrans %}
  {{/with}}
{% endtplhandlebars %}


{# WARNING : FOR THIS NOTIFICATION REMEMBER TO USE invoiceResource RATHER THAN resource #}
{% tplhandlebars "notificationEntry/invoiceSaved" %}
  {{#with view.content}}
    {% verbatimblocktrans %}{{#if invoiceHasTemporaryReference}}
      {{#if invoiceResource}}<a {{action transitionToResource invoiceResource target="controller.controllers.notifications"}}>An invoice</a>{{else}}An invoice{{/if}}
    {{else}}
      The invoice {{#if invoiceResource}}<a {{action transitionToResource invoiceResource target="controller.controllers.notifications"}}>{{invoiceReference}}</a>{{else}}{{invoiceReference}}{{/if}}
    {{/if}} for {{customerDisplay}} has been updated{% endverbatimblocktrans %}
  {{/with}}
{% endtplhandlebars %}


{% tplhandlebars "notificationEntry/downPaymentInvoiceSaved" %}
  {{#with view.content}}
    {% verbatimblocktrans %}The down-payment invoice {{#if resource}}<a {{action transitionToResource resource target="controller.controllers.notifications"}}>{{downPaymentInvoiceReference}}</a>{{else}}{{downPaymentInvoiceReference}}{{/if}} for {{customerDisplay}} has been updated{% endverbatimblocktrans %}
  {{/with}}
{% endtplhandlebars %}


{% tplhandlebars "notificationEntry/creditNoteSaved" %}
  {{#with view.content}}
    {% verbatimblocktrans %}The credit note {{#if resource}}<a {{action transitionToResource resource target="controller.controllers.notifications"}}>{{creditNoteReference}}</a>{{else}}{{creditNoteReference}}{{/if}} for {{customerDisplay}} has been updated{% endverbatimblocktrans %}
  {{/with}}
{% endtplhandlebars %}


{% tplhandlebars "notificationEntry/eventReminder" %}
  {{#with view.content}}
    {% verbatimblocktrans %}The event {{#if resource}}<a {{action transitionToResource resource target="controller.controllers.notifications"}}>{{summary}}</a>{{else}}{{summary}}{{/if}} {{#if inFuture}}occurs{{else}}occured{{/if}} {{fromNow value=occursAt}}{% endverbatimblocktrans %}
  {{/with}}
{% endtplhandlebars %}