{% load i18n templatetag_handlebars %}


{% tplhandlebars "desktop-left-panel" %}
  {{#if controllers.notifications.content}}
    {{view view.notificationItems contentBinding="controllers.notifications.content"}}
  {{/if}}
{% endtplhandlebars %}


{% tplhandlebars "desktop-right-panel" %}
  <nav>
    {{#link-to 'settings.application' controller.session.tenant class="btn btn-panel btn-yellow"}}
      <i class="picto-settings"></i>
      {% trans "Settings" %}
    {{/link-to}}
    <div class="btn-group tenant">
      {{#link-to 'settings.organization' controller.session.tenant class="btn btn-yellow" tagName="button"}}
        <i class="picto-documents"></i> {% trans "My organization" %}
      {{/link-to}}
      <button class="btn dropdown-toggle btn-yellow" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        {{#if controllers.tenantsShow.otherTenants}}
          {{#each tenant in controllers.tenantsShow.otherTenants}}
            <li>
              <a {{action 'redirectToTenantRoot' tenant target="controllers.tenantsShow"}}>{{tenant.slug}}</a>
            </li>
          {{/each}}
          <li class="divider"></li>
        {{/if}}
        <li>
          {{#link-to 'tenants.add'}}
            {% trans "Add new organization" %}
          {{/link-to}}
        </li>
      </ul>
    </div>
    <br>
    <br>
    <a href="mailto:support@vosae.com" target="_blank" class="btn btn-panel btn-yellow">
      <i class="picto-mail"></i> {% trans "Support" %}
    </a>
    <br>
    <span class="current-user">{% trans "Administrator member" %}</span>
    <a href="{{unbound Vosae.Config.APP_ENDPOINT }}{% url 'signout' %}" class="btn btn-panel btn-danger">
      <i class="picto-lock"></i>
      {% trans "Logout" %}
    </a>
  </nav>
{% endtplhandlebars %}