{% load i18n templatetag_handlebars %}

{% tplhandlebars "tenants/add/registrationInfo/_base" %}
  <div class="control-group registration-entity">
    <label for="id_tenant_registration_entity">{% trans "Business entity" %}</label>
    <div class="controls">
      {{input type="text" valueBinding="registrationInfo.businessEntity" maxlength="64" id="id_tenant_registration_entity" classNames="edit-settings"}}
      <span class="help-inline"></span>
    </div>
  </div>

  <div class="control-group registration-share-capital">
    <label for="id_tenant_registration_share_capital">{% trans "Share capital" %}</label>
    <div class="controls">
      {{input type="text" valueBinding="registrationInfo.shareCapital" maxlength="64" id="id_tenant_registration_share_capital" classNames="edit-settings"}}
      <span class="help-inline"></span>
    </div>
  </div>
{% endtplhandlebars %}


{% tplhandlebars "tenants/add/registrationInfo/mixins/_EU" %}
  <div class="control-group registration-vat-number">
    <label for="id_tenant_registration_vat_number">{% trans "VAT number" %}</label>
    <div class="controls">
      {{input type="text" valueBinding="registrationInfo.vatNumber" maxlength="64" id="id_tenant_registration_vat_number" classNames="edit-settings"}}
      <span class="help-inline"></span>
    </div>
  </div>
{% endtplhandlebars %}


{% tplhandlebars "tenants/add/registrationInfo/BE" %}
  {{partial "tenants/add/registrationInfo/base"}}
  {{partial "tenants/add/registrationInfo/mixins/EU"}}
{% endtplhandlebars %}


{% tplhandlebars "tenants/add/registrationInfo/CH" %}
  {{partial "tenants/add/registrationInfo/base"}}
  <div class="control-group registration-vat-number">
    <label for="id_tenant_registration_vat_number">{% trans "VAT number" %}</label>
    <div class="controls">
      {{input type="text" valueBinding="registrationInfo.vatNumber" maxlength="64" id="id_tenant_registration_vat_number" classNames="edit-settings"}}
      <span class="help-inline"></span>
    </div>
  </div>
{% endtplhandlebars %}


{% tplhandlebars "tenants/add/registrationInfo/FR" %}
  {{partial "tenants/add/registrationInfo/base"}}
  {{partial "tenants/add/registrationInfo/mixins/EU"}}
  
  <div class="control-group registration-siret">
    <label for="id_tenant_registration_siret">{% trans "Siret" %}</label>
    <div class="controls">
      {{input type="text" valueBinding="registrationInfo.siret" maxlength="64" id="id_tenant_registration_siret" classNames="edit-settings"}}
      <span class="help-inline"></span>
    </div>
  </div>

  <div class="control-group registration-rcs-number">
    <label for="id_tenant_registration_rcs_number">{% trans "RCS number" %}</label>
    <div class="controls">
      {{input type="text" valueBinding="registrationInfo.rcsNumber" maxlength="64" id="id_tenant_registration_rcs_number" classNames="edit-settings"}}
      <span class="help-inline"></span>
    </div>
  </div>
{% endtplhandlebars %}


{% tplhandlebars "tenants/add/registrationInfo/GB" %}
  {{partial "tenants/add/registrationInfo/base"}}
  {{partial "tenants/add/registrationInfo/mixins/EU"}}
{% endtplhandlebars %}


{% tplhandlebars "tenants/add/registrationInfo/LU" %}
  {{partial "tenants/add/registrationInfo/base"}}
  {{partial "tenants/add/registrationInfo/mixins/EU"}}
{% endtplhandlebars %}


{% tplhandlebars "tenants/add/registrationInfo/US" %}
  {{partial "tenants/add/registrationInfo/base"}}
{% endtplhandlebars %}