{% load i18n templatetag_handlebars %}

{% tplhandlebars "tenants/add/_identity" %}
  <h3>{% trans "Step 1 - Organization contact details" %}</h3>

  <section class="clearfix">
    {{#if view.formIsValid}}
    {% comment %}
    <div class="alert alert-block">
      {% blocktrans %}
        <strong>Info:</strong> You will be able to change thoses informations later.
      {% endblocktrans %}
    </div>
    {% endcomment %}
    {{else}}
    <div class="alert alert-error">
      {% blocktrans %}
        <strong>Oh snap!</strong> The registration failed for the reasons listed bellow. Please fix it.
      {% endblocktrans %}
    </div>
    {{/if}}

    <div class="half pull-left">
      {# Tenant name #}
      <div class="control-group name">
        <label for="id_tenant_name">{% trans "Corporate name (the name of your organization)" %}</label>
        <div class="controls">
          {{input type="text" valueBinding="name" maxlength="64" id="id_tenant_name" classNames="edit-settings"}}
          <span class="help-inline"></span>
        </div>
      </div>

      {# Tenant email #}
      <div class="control-group email">
        <label for="id_tenant_email">{% trans "Organization email" %}</label>
        <div class="controls">
          {{input type="text" valueBinding="email" maxlength="256" id="id_tenant_email" classNames="edit-settings"}}
          <span class="help-inline"></span>
        </div>
      </div>

      {# Tenant phone #}
      <div class="control-group phone">
        <label for="id_tenant_phone">{% trans "Organization phone" %}</label>
        <div class="controls">
          {{input type="text" valueBinding="phone" maxlength="16" id="id_tenant_phone" classNames="edit-settings"}}
          <span class="help-inline"></span>
        </div>
      </div>

      {# Tenant fax #}
      <div class="control-group fax">
        <label for="id_tenant_fax">{% trans "Organization fax" %}</label>
        <div class="controls">
          {{input type="text" valueBinding="fax" maxlength="16" id="id_tenant_fax" classNames="edit-settings"}}
          <span class="help-inline"></span>
        </div>
      </div>
    </div>
    
    <div class="half pull-left"></div>
  </section>

  <div class="form-actions">
    {{#if hasTenant}}
    <button class="btn darkgrey cancel" {{action 'cancel'}}>
      {% trans "Cancel" %}
    </button>
    {{/if}}
    <button class="btn green" {{action 'nextStep' this target='view'}}>
      {% trans "Next" %}
    </button>
  </div>

{% endtplhandlebars %}