{% load i18n templatetag_handlebars %}

{% tplhandlebars "tenants/add/_coords" %}
  <h3>{% trans "Step 2 - Addresses" %}</h3>

  <section class="coords">
    {{#if view.formIsValid}}
    {% comment %}
    <div class="alert alert-block">
      {% blocktrans %}
        <strong>Info:</strong> You will be able to change thoses informations later.
      {% endblocktrans %}
    </div>
    {% endcomment %}
    {{else}}
    <div class="alert alert-error">
      {% blocktrans %}
        <strong>Oh snap!</strong> The registration failed for the reasons listed bellow. Please fix it.
      {% endblocktrans %}
    </div>
    {{/if}}

    <h4>{% trans "Postal address" %}</h4>
    <div class="line clearfix">
      {# Tenant postal-address street-address #}
      <div class="control-group pull-left p-street-address">
        <label for="id_tenant_p_street_address">{% trans "Street address" %}</label>
        <div class="controls">
          {{input type="text" valueBinding="postalAddress.streetAddress" maxlength="128" id="id_tenant_p_street_address" classNames="edit-settings"}}
          <span class="help-inline"></span>
        </div>
      </div>

      {# Tenant postal-address extended-address #}
      <div class="control-group pull-left p-extended-address">
        <label for="id_tenant_p_extended_address">{% trans "Extended address" %}</label>
        <div class="controls">
          {{input type="text" valueBinding="postalAddress.extendedAddress" maxlength="128" id="id_tenant_p_extended_address" classNames="edit-settings"}}
          <span class="help-inline"></span>
        </div>
      </div>
    </div>

    <div class="line clearfix">
      {# Tenant postal-address postal-code #}
      <div class="control-group pull-left p-postal-code">
        <label for="id_tenant_p_postal_code">{% trans "Postal code" %}</label>
        <div class="controls">
          {{input type="text" valueBinding="postalAddress.postalCode" maxlength="64" id="id_tenant_p_postal_code" classNames="edit-settings"}}
          <span class="help-inline"></span>
        </div>
      </div>

      {# Tenant postal-address postoffice-box #}
      <div class="control-group pull-left p-postoffice-box">
        <label for="id_tenant_p_postoffice_box">{% trans "Postoffice box" %}</label>
        <div class="controls">
          {{input type="text" valueBinding="postalAddress.postofficeBox" maxlength="64" id="id_tenant_p_postoffice_box" classNames="edit-settings"}}
          <span class="help-inline"></span>
        </div>
      </div>
    </div>

    <div class="line clearfix">
      {# Tenant postal-address city #}
      <div class="control-group pull-left p-city">
        <label for="id_tenant_p_city">{% trans "City" %}</label>
        <div class="controls">
          {{input type="text" valueBinding="postalAddress.city" maxlength="64" id="id_tenant_p_city" classNames="edit-settings"}}
          <span class="help-inline"></span>
        </div>
      </div>

      {# Tenant postal-address state #}
      <div class="control-group pull-left p-state">
        <label for="id_tenant_p_state">{% trans "State" %}</label>
        <div class="controls">
          {{input type="text" valueBinding="postalAddress.state" maxlength="64" id="id_tenant_p_state" classNames="edit-settings"}}
          <span class="help-inline"></span>
        </div>
      </div>
    </div>

    <div class="line clearfix">
      {# Tenant postal-address country #}
      <div class="control-group pull-left p-country">
        <label for="id_tenant_p_country">{% trans "Country" %}</label>
        <div class="controls">
          {{input type="text" valueBinding="postalAddress.country" maxlength="64" id="id_tenant_p_country" classNames="edit-settings"}}
          <span class="help-inline"></span>
        </div>
      </div>
    </div>
  </section>

  <hr>

  <section {{bindAttr class=":coords useBilingAddressAsPostalAddress:same"}}>
    <h4 class="billing-address">{% trans "Billing address" %} {{input type="checkbox" id="id_tenant_same_address" checkedBinding="useBilingAddressAsPostalAddress"}} <label for="id_tenant_same_address">{% trans "Use the same address" %}</label></h4>
    
    <div class="line clearfix">
      {# Tenant billing-address street-address #}
      <div class="control-group pull-left b-street-address">
        <label for="id_tenant_b_street_address">{% trans "Street address" %}</label>
        <div class="controls">
          {{#if useBilingAddressAsPostalAddress}}
            {{input type="text" valueBinding="postalAddress.streetAddress" maxlength="128" id="id_tenant_b_street_address" disabled="true" classNames="edit-settings"}}
          {{else}}
            {{input type="text" valueBinding="billingAddress.streetAddress" maxlength="128" id="id_tenant_b_street_address" classNames="edit-settings"}}
          {{/if}}
          <span class="help-inline"></span>
        </div>
      </div>

      {# Tenant billing-address extended-address #}
      <div class="control-group pull-left b-extended-address">
        <label for="id_tenant_b_extended_address">{% trans "Extended address" %}</label>
        <div class="controls">
          {{#if useBilingAddressAsPostalAddress}}
            {{input type="text" valueBinding="postalAddress.extendedAddress" maxlength="128" id="id_tenant_b_extended_address" disabled="true" classNames="edit-settings"}}            
          {{else}}
            {{input type="text" valueBinding="billingAddress.extendedAddress" maxlength="128" id="id_tenant_b_extended_address" classNames="edit-settings"}}
          {{/if}}
          <span class="help-inline"></span>
        </div>
      </div>
    </div>

    <div class="line clearfix">
      {# Tenant billing-address postal-code #}
      <div class="control-group pull-left b-postal-code">
        <label for="id_tenant_b_postal_code">{% trans "Postal code" %}</label>
        <div class="controls">
          {{#if useBilingAddressAsPostalAddress}}
            {{input type="text" valueBinding="postalAddress.postalCode" maxlength="64" id="id_tenant_b_postal_code" disabled="true" classNames="edit-settings"}}
          {{else}}
            {{input type="text" valueBinding="billingAddress.postalCode" maxlength="64" id="id_tenant_b_postal_code" classNames="edit-settings"}}
          {{/if}}
          <span class="help-inline"></span>
        </div>
      </div>

      {# Tenant billing-address postoffice-box #}
      <div class="control-group pull-left b-postoffice-box">
        <label for="id_tenant_b_postoffice_box">{% trans "Postoffice box" %}</label>
        <div class="controls">
          {{#if useBilingAddressAsPostalAddress}}
            {{input type="text" valueBinding="postalAddress.postofficeBox" maxlength="64" id="id_tenant_b_postoffice_box" disabled="true" classNames="edit-settings"}}
          {{else}}
            {{input type="text" valueBinding="billingAddress.postofficeBox" maxlength="64" id="id_tenant_b_postoffice_box" classNames="edit-settings"}}
          {{/if}}
          <span class="help-inline"></span>
        </div>
      </div>
    </div>

    <div class="line clearfix">
      {# Tenant billing-address city #}
      <div class="control-group pull-left b-city">
        <label for="id_tenant_b_city">{% trans "City" %}</label>
        <div class="controls">
          {{#if useBilingAddressAsPostalAddress}}
            {{input type="text" valueBinding="postalAddress.city" maxlength="64" id="id_tenant_b_city" disabled="true" classNames="edit-settings"}}
          {{else}}
            {{input type="text" valueBinding="billingAddress.city" maxlength="64" id="id_tenant_b_city" classNames="edit-settings"}}
          {{/if}}
          <span class="help-inline"></span>
        </div>
      </div>

      {# Tenant billing-address state #}
      <div class="control-group pull-left b-state">
        <label for="id_tenant_b_state">{% trans "State" %}</label>
        <div class="controls">
          {{#if useBilingAddressAsPostalAddress}}
            {{input type="text" valueBinding="postalAddress.state" maxlength="64" id="id_tenant_b_state" disabled="true" classNames="edit-settings"}}
          {{else}}
            {{input type="text" valueBinding="billingAddress.state" maxlength="64" id="id_tenant_b_state" classNames="edit-settings"}}
          {{/if}}
          <span class="help-inline"></span>
        </div>
      </div>
    </div>

    <div class="line clearfix">
      {# Tenant billing-address country #}
      <div class="control-group pull-left b-country">
        <label for="id_tenant_b_country">{% trans "Country" %}</label>
        <div class="controls">
          {{#if useBilingAddressAsPostalAddress}}
            {{input type="text" valueBinding="postalAddress.country" maxlength="64" id="id_tenant_b_country" disabled="true" classNames="edit-settings"}}
          {{else}}
            {{input type="text" valueBinding="billingAddress.country" maxlength="64" id="id_tenant_b_country" classNames="edit-settings"}}
          {{/if}}
          <span class="help-inline"></span>
        </div>
      </div>
    </div>
  </section>

  <div class="form-actions">
    {{#if hasTenant}}
    <button class="btn darkgrey cancel" {{action 'cancel'}}>
      {% trans "Cancel" %}
    </button>  
    {{/if}}
    <button class="btn darkgrey" {{action 'previousStep' this target='view'}}>
      {% trans "Previous" %}
    </button>
    <button class="btn green" {{action 'nextStep' this target='view'}}>
      {% trans "Next" %}
    </button>
  </div>

{% endtplhandlebars %}