{% load i18n templatetag_handlebars %}

{% tplhandlebars "tenants/add/_registration" %}
  <h3>{% trans "Step 3 - Registration informations" %}</h3>

  <section class="registration">
    {{#if view.formIsValid}}
    {% comment %}
    <div class="alert alert-block">
      {% blocktrans %}
        <strong>Info:</strong> You will be able to change thoses informations later.
      {% endblocktrans %}
    </div>
    {% endcomment %}
    {{else}}
    <div class="alert alert-error">
      {% blocktrans %}
        <strong>Oh snap!</strong> The registration failed for the reasons listed bellow. Please fix it.
      {% endblocktrans %}
    </div>
    {{/if}}

    <h4>{% trans "Currencies" %}</h4>
    {# Tenant supported currencies #}
    <div class="control-group supported-currencies">
      <label for="id_tenant_supported_currencies">{% trans "Supported currencies" %}</label>
      <div class="controls">
        {{view Vosae.Components.Select 
          multiple="true"
          id="id_tenant_supported_currencies"
          contentBinding="sortedCurrencies"
          selectionBinding="controller.supportedCurrencies"
          optionValuePath="content.id"
          optionLabelPath="content.description"
          containerCssClass="green"}}
        <span class="help-inline"></span>
      </div>
    </div>

    {{#if supportedCurrencies}}
    {# Tenant default currency #}
    <div class="control-group default-currency">
      <label for="id_tenant_default_currency">{% trans "Default currency" %}</label>
      <div class="controls">
        {{view Vosae.Components.Select
          id="id_tenant_default_currency"
          contentBinding="controller.supportedCurrencies"
          selectionBinding="controller.defaultCurrency"
          optionValuePath="content"
          optionLabelPath="content.description"
          containerCssClass="green"}}
        <span class="help-inline"></span>
      </div>
    </div>
    {{/if}}
  </section>

  <hr>

  <section>
    <h4>{% trans "Registration informations" %}</h4>
    {{#view view.registrationInfoView}}{{/view}}
  </section>

  <div class="form-actions">
    {{#if hasTenant}}
    <button class="btn darkgrey cancel" {{action 'cancel'}}>
      {% trans "Cancel" %}
    </button>  
    {{/if}}
    <button class="btn darkgrey" {{action 'previousStep' this target='view'}}>
      {% trans "Previous" %}
    </button>
    <button class="btn green" {{action 'nextStep' this target='view'}}>
      {% trans "Finish" %}
    </button>
  </div>

{% endtplhandlebars %}


{% tplhandlebars "tenants/add/registrationCountryType" %}
  <div class="control-group registration-country">
    <label for="id_tenant_registration_country">{% trans "Registration country" %}</label>
    <div class="controls">
      {{view view.select
        contentBinding="Vosae.supportedCountries"
        tenantBinding="this"
        valueBinding="view.registrationCountry"
        optionValuePath="content.countryCode"
        optionLabelPath="content.countryName"
        containerCssClass="green" }}
      <span class="help-inline"></span>
    </div>
  </div>
{% endtplhandlebars %}